/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-anspress-question-answer-categories {

	&-ccon {

		display: grid;
		grid-auto-rows: auto;
		gap: 20px;
	}

	&-ctitle {
		font-weight: bold;
		margin-bottom: 0;
	}

	&-cdesc {
		font-size: 90%;
	}

	&-cimage {
		background: #eee;
		height: 120px;
		margin-bottom: 10px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&-p {
		&-ul {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 1em 0;
		}

		&-item {
			margin: 0 0.5em;
		}

		&-link {
			align-items: center;
			background: none;
			border-radius: 2px;
			box-sizing: border-box;
			color: var(--wp-components-color-foreground, #1e1e1e);
			cursor: pointer;
			display: inline-flex;
			font-family: inherit;
			font-size: 13px;
			font-weight: 400;
			height: 36px;
			margin: 0;
			padding: 6px 12px;
			text-decoration: none;
			transition: box-shadow .1s linear;
			border: solid 1px;
		}

		&-link:hover {
			background-color: #0073aa;
			color: #ffffff;
		}
	}
}
