/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-anspress-question-answer-categories {

	&-ccon {

		display: grid;
		grid-auto-rows: auto;
		gap: 20px;
	}

	&-ctitle {
		font-weight: bold;
		margin-bottom: 0;
	}

	&-cdesc {
		font-size: 90%;
	}

	&-cimage {
		background: #eee;
		height: 120px;
		margin-bottom: 10px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
