@charset "UTF-8";

@font-face {
  font-family: "anspress";
  src:url("fonts/anspress.eot");
  src:url("fonts/anspress.eot?#iefix") format("embedded-opentype"),
    url("fonts/anspress.woff") format("woff"),
    url("fonts/anspress.ttf") format("truetype"),
    url("fonts/anspress.svg#anspress") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "anspress" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="apicon-"]:before,
[class*=" apicon-"]:before {
  font-family: "anspress" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.apicon-alert:before {
  content: "a";
}
.apicon-beer:before {
  content: "b";
}
.apicon-bookmark:before {
  content: "c";
}
.apicon-browser:before {
  content: "d";
}
.apicon-bug:before {
  content: "e";
}
.apicon-calendar:before {
  content: "f";
}
.apicon-check:before {
  content: "g";
}
.apicon-checklist:before {
  content: "h";
}
.apicon-chevron-down:before {
  content: "i";
}
.apicon-chevron-left:before {
  content: "j";
}
.apicon-chevron-right:before {
  content: "k";
}
.apicon-chevron-up:before {
  content: "l";
}
.apicon-circle-slash:before {
  content: "m";
}
.apicon-circuit-board:before {
  content: "n";
}
.apicon-clippy:before {
  content: "o";
}
.apicon-clock:before {
  content: "p";
}
.apicon-cloud-download:before {
  content: "q";
}
.apicon-cloud-upload:before {
  content: "r";
}
.apicon-code:before {
  content: "s";
}
.apicon-color-mode:before {
  content: "t";
}
.apicon-comment:before {
  content: "u";
}
.apicon-comment-discussion:before {
  content: "v";
}
.apicon-credit-card:before {
  content: "w";
}
.apicon-dash:before {
  content: "x";
}
.apicon-dashboard:before {
  content: "y";
}
.apicon-database:before {
  content: "z";
}
.apicon-device-camera-video:before {
  content: "A";
}
.apicon-diff:before {
  content: "B";
}
.apicon-diff-added:before {
  content: "C";
}
.apicon-diff-ignored:before {
  content: "D";
}
.apicon-diff-modified:before {
  content: "E";
}
.apicon-diff-removed:before {
  content: "F";
}
.apicon-diff-renamed:before {
  content: "G";
}
.apicon-ellipsis:before {
  content: "H";
}
.apicon-eye:before {
  content: "I";
}
.apicon-file-binary:before {
  content: "J";
}
.apicon-file-code:before {
  content: "K";
}
.apicon-file-directory:before {
  content: "L";
}
.apicon-file-media:before {
  content: "M";
}
.apicon-file-pdf:before {
  content: "N";
}
.apicon-file-submodule:before {
  content: "O";
}
.apicon-file-symlink-directory:before {
  content: "P";
}
.apicon-file-symlink-file:before {
  content: "Q";
}
.apicon-file-text:before {
  content: "R";
}
.apicon-file-zip:before {
  content: "S";
}
.apicon-flame:before {
  content: "T";
}
.apicon-fold:before {
  content: "U";
}
.apicon-gear:before {
  content: "V";
}
.apicon-gist:before {
  content: "W";
}
.apicon-gist-secret:before {
  content: "X";
}
.apicon-globe:before {
  content: "Y";
}
.apicon-graph:before {
  content: "Z";
}
.apicon-heart:before {
  content: "0";
}
.apicon-history:before {
  content: "1";
}
.apicon-home:before {
  content: "2";
}
.apicon-hourglass:before {
  content: "3";
}
.apicon-inbox:before {
  content: "4";
}
.apicon-info:before {
  content: "5";
}
.apicon-issue-closed:before {
  content: "6";
}
.apicon-issue-opened:before {
  content: "7";
}
.apicon-issue-reopened:before {
  content: "8";
}
.apicon-jersey:before {
  content: "9";
}
.apicon-jump-down:before {
  content: "!";
}
.apicon-jump-left:before {
  content: "\"";
}
.apicon-jump-right:before {
  content: "#";
}
.apicon-jump-up:before {
  content: "$";
}
.apicon-key:before {
  content: "%";
}
.apicon-link:before {
  content: "&";
}
.apicon-link-external:before {
  content: "'";
}
.apicon-list-ordered:before {
  content: "(";
}
.apicon-list-unordered:before {
  content: ")";
}
.apicon-location:before {
  content: "*";
}
.apicon-lock:before {
  content: "+";
}
.apicon-mail:before {
  content: ",";
}
.apicon-mail-read:before {
  content: "-";
}
.apicon-mail-reply:before {
  content: ".";
}
.apicon-mention:before {
  content: "/";
}
.apicon-mortar-board:before {
  content: ":";
}
.apicon-organization:before {
  content: ";";
}
.apicon-mute:before {
  content: "<";
}
.apicon-pencil:before {
  content: "=";
}
.apicon-pin:before {
  content: ">";
}
.apicon-plug:before {
  content: "?";
}
.apicon-logo-github:before {
  content: "@";
}
.apicon-person:before {
  content: "[";
}
.apicon-plus:before {
  content: "]";
}
.apicon-package:before {
  content: "^";
}
.apicon-paintcan:before {
  content: "_";
}
.apicon-primitive-dot:before {
  content: "`";
}
.apicon-puzzle:before {
  content: "{";
}
.apicon-question:before {
  content: "|";
}
.apicon-quote:before {
  content: "}";
}
.apicon-repo:before {
  content: "~";
}
.apicon-rocket:before {
  content: "\\";
}
.apicon-screen-full:before {
  content: "\e000";
}
.apicon-screen-normal:before {
  content: "\e001";
}
.apicon-search:before {
  content: "\e002";
}
.apicon-settings:before {
  content: "\e003";
}
.apicon-sign-in:before {
  content: "\e004";
}
.apicon-sign-out:before {
  content: "\e005";
}
.apicon-star:before {
  content: "\e006";
}
.apicon-steps:before {
  content: "\e007";
}
.apicon-stop:before {
  content: "\e008";
}
.apicon-sync:before {
  content: "\e009";
}
.apicon-tag:before {
  content: "\e00a";
}
.apicon-terminal:before {
  content: "\e00b";
}
.apicon-three-bars:before {
  content: "\e00c";
}
.apicon-trashcan:before {
  content: "\e00d";
}
.apicon-unfold:before {
  content: "\e00e";
}
.apicon-triangle-down:before {
  content: "\e00f";
}
.apicon-triangle-left:before {
  content: "\e010";
}
.apicon-triangle-right:before {
  content: "\e011";
}
.apicon-triangle-up:before {
  content: "\e012";
}
.apicon-x:before {
  content: "\e013";
}
.apicon-zap:before {
  content: "\e014";
}
.apicon-versions:before {
  content: "\e015";
}
.apicon-pulse:before {
  content: "\e016";
}
.apicon-mirror:before {
  content: "\e017";
}
.apicon-book:before {
  content: "\e018";
}
.apicon-keyboard:before {
  content: "\e019";
}
.apicon-light-bulb:before {
  content: "\e01a";
}
.apicon-talk-chat:before {
  content: "\e01b";
}
.apicon-talk-chat-2:before {
  content: "\e01c";
}
.apicon-flag:before {
  content: "\e01d";
}
