@font-face {
	font-family: 'anspress';
	src:url('fonts/anspress.eot?-r2jrt9');
	src:url('fonts/anspress.eot?#iefix-r2jrt9') format('embedded-opentype'),
		url('fonts/anspress.ttf?-r2jrt9') format('truetype'),
		url('fonts/anspress.woff?-r2jrt9') format('woff'),
		url('fonts/anspress.svg?-r2jrt9#anspress') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="apicon-"]:before, [class*=" apicon-"]:before {
	font-family: 'anspress';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.apicon-answer:before {
	content: "\e61f";
}
.apicon-question:before {
	content: "\e620";
}
.apicon-rank:before {
	content: "\e61a";
}
.apicon-anspress:before {
	content: "\e604";
}
.apicon-anspress-icon:before {
	content: "\e605";
}
.apicon-pencil:before {
	content: "\e61e";
}
.apicon-users:before {
	content: "\e614";
}
.apicon-user-check:before {
	content: "\e615";
}
.apicon-user-minus:before {
	content: "\e616";
}
.apicon-user-plus:before {
	content: "\e617";
}
.apicon-user:before {
	content: "\e618";
}
.apicon-profile:before {
	content: "\e619";
}
.apicon-reputation:before {
	content: "\e612";
}
.apicon-screen-normal:before {
	content: "\e609";
}
.apicon-screen-full:before {
	content: "\e60a";
}
.apicon-alert:before {
	content: "\f02d";
}
.apicon-bug:before {
	content: "\f091";
}
.apicon-calendar:before {
	content: "\f068";
}
.apicon-check:before {
	content: "\f03a";
}
.apicon-clock:before {
	content: "\f046";
}
.apicon-cloud-upload:before {
	content: "\f00c";
}
.apicon-ellipsis:before {
	content: "\f09a";
}
.apicon-eye:before {
	content: "\f04e";
}
.apicon-gear:before {
	content: "\f02f";
}
.apicon-gist-secret:before {
	content: "\f08c";
}
.apicon-globe:before {
	content: "\f0b6";
}
.apicon-heart:before {
	content: "\2665";
}
.apicon-link:before {
	content: "\f05c";
}
.apicon-lock:before {
	content: "\f06a";
}
.apicon-mail:before {
	content: "\f03b";
}
.apicon-mail-read:before {
	content: "\f03c";
}
.apicon-mark-github:before {
	content: "\f00a";
}
.apicon-mention:before {
	content: "\f0be";
}
.apicon-mortar-board:before {
	content: "\f0d7";
}
.apicon-mute:before {
	content: "\f080";
}
.apicon-pin:before {
	content: "\f041";
}
.apicon-plus:before {
	content: "\f05d";
}
.apicon-pulse:before {
	content: "\f085";
}
.apicon-puzzle:before {
	content: "\f0c0";
}
.apicon-rss:before {
	content: "\f034";
}
.apicon-search:before {
	content: "\f02e";
}
.apicon-star:before {
	content: "\f02a";
}
.apicon-stop:before {
	content: "\f08f";
}
.apicon-sync:before {
	content: "\f087";
}
.apicon-trashcan:before {
	content: "\f0d0";
}
.apicon-unmute:before {
	content: "\f0ba";
}
.apicon-x:before {
	content: "\f081";
}
.apicon-google-plus-square:before {
	content: "\e61b";
}
.apicon-twitter-square:before {
	content: "\e61c";
}
.apicon-facebook-square:before {
	content: "\e61d";
}
.apicon-toggle-on:before {
	content: "\e60f";
}
.apicon-toggle-off:before {
	content: "\e610";
}
.apicon-image:before {
	content: "\e608";
}
.apicon-category:before {
	content: "\e606";
}
.apicon-tag:before {
	content: "\e607";
}
.apicon-comments:before {
	content: "\e603";
}
.apicon-board:before {
	content: "\e613";
}
.apicon-home:before {
	content: "\e611";
}
.apicon-thumbs-up-down:before {
	content: "\e600";
}
.apicon-thumb-up:before {
	content: "\e601";
}
.apicon-thumb-down:before {
	content: "\e602";
}
.apicon-chevron-down:before {
	content: "\e60d";
}
.apicon-chevron-up:before {
	content: "\e60e";
}
.apicon-chevron-right:before {
	content: "\e60b";
}
.apicon-chevron-left:before {
	content: "\e60c";
}
