/.svn
/.buildpath
/.project
/node_modules
/docs
/phpdoc.dist.xml
/tasks.TODO
/*.TODO
/npm-debug.log
/dist
/.sass-cache
/templates/addons/notification/*.bak
/templates/addons/reputation/*.bak
/templates/addons/tag/*.bak
/templates/*.bak
/templates/shortcode/*.bak
/templates/widgets/*.bak
/widgets/*.bak
*.bak
*~