<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutOutputDuringTests="true"
  strict="true"
	verbose="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="tests-" suffix=".php">./tests/unit/</directory>
			<!-- <directory suffix=".php">./tests/acceptance/</directory> -->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes</directory>
			<directory suffix=".php">./addons/free</directory>
			<directory suffix=".php">./admin</directory>
			<directory suffix=".php">./templates</directory>
			<file>anspress-question-answer.php</file>
			<file>activate.php</file>
			<exclude>
				<!--<file>./admin/excludefile.php</file>-->
				<directory>./.git/</directory>
				<directory>./.svn/</directory>
				<directory>./node_modules/</directory>
				<directory>./.sass-cache/</directory>
			</exclude>
		</whitelist>
	</filter>
	<listeners>
		<listener class="SpeedTrapListener" file="tests/phpunit/speed-trap-listener.php">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>150</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>