

*:before, *:after {
    -moz-box-sizing: border-box;
}
*:before, *:after {
    -moz-box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

a {
    text-decoration: none;
}



/* AnsPress Styles */
.modal-header .close {
    background: #EEEEEE;
    color: #AAAAAA;
    float: right;
    font-size: 15px;
    line-height: 12px;
    margin-top: -2px;
    padding: 4px 8px;
}

.ap-container{
	margin: 0;
}
.no-overflow{
	overflow:hidden;
}
.ap-avatar{
    float: left;
    margin-right: 15px;
    margin-top: 3px;
}
.ap-avatar img{
    border-radius: 2px;
    box-shadow: none;
}
.single-question #main, .tax-question_category #main{
	display:table;
	width:100%;
}
#ap-sidebar > #secondary {
    margin-top: 0;
    width: auto;
}
#ap-container {
    line-height: 18px;
	font-family: arial,helvetica,serif;
}
#ap-container .ap-content{
    margin-bottom: 25px;
    max-width: 685px;
    position: relative;
}
#ap-container .user-header{
	margin-bottom: 15px;
}
.user-meta{
	border-bottom: 1px solid rgba(0,0,0,0.06);
    padding-bottom: 10px;
}
#ap-container .user-header .user-meta > *{
	display:block;
}
#ap-container .user-header .who{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
}
#ap-container .user-header .when{
    color: #777777;
    font-size: 12px;
}
#ap-container .user-header .question-taxo > *{
	float: left;
    margin: 0;
}
#ap-container .user-header .question-taxo .question-cats{
	margin-right:10px;
}
#ap-container .question-title{
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: none;
}
#ap-container .question-title a{
	color:#444;
}
#ap-container .question-content, #ap-container .answer-content{
    color: #555555;
    font-family: helvetica,arial;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 10px;
}

#ap-container .question-meta{
    list-style: none outside none;
    margin: 0 0 25px;
    padding: 10px 0;
}
#ap-container .question-meta .question-status{
    margin-right: 10px;
    margin-top: 0;
}
#ap-container .question-meta .views-count{
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    color: #777777;
    font-family: Helvetica,Arial,sans-serif;
    margin-right: 10px;
    padding: 0 5px;
    text-decoration: none;
}
#ap-container .question-meta .question-cats{
    border-right: 1px solid #E1E1E1;
    margin-right: 5px;
    padding-right: 5px;
}
#ap-container .question-meta .category, #ap-container .question-meta .tags{
	display:inline;
}
#ap-container .question-meta ul,#ap-container .question-meta li{
	display:inline;
}


.author-avatar img {
    border-radius: 3px;
}
.vote-single{
    border-radius: 3px;
    box-shadow: 0 0 2px #DDDDDD;
    float: left;
    margin-right: 10px;
    min-width: 21px;
    padding: 5px;
}
.vote-single .ap-voting {
    margin: 0;
    padding: 0;
}


#ap-container .question-title a{
	text-decoration:none;
}
#question .content-inner, #answers .answer .content-inner{
    margin-bottom: 20px;
}


#question .content-inner,.answer .content-inner{
    border-radius: 4px;
    overflow: hidden;
    padding: 15px;
}
#question .content-inner{
	background:#FEF3D9;
}
.answer .content-inner{
	background:#e9f3f5;
}
#question .content-inner .author-display{
    font-weight: bold;
    margin-bottom: 5px;
}


#answers .answer-count{    
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0;
}
#answers .answer-count span{

}

#answers .answer{
    padding-top: 20px;
}
#answers .answer:last-child{
    border-bottom: none;
}
#answers .answer-header {
	color: #333333;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}

/* Comments */
.ap-comments{
	margin-left: 42px;
}
.ap-comments-inner{
    background: #F9F9F9;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    position: relative;
}
.ap-comments.comments-area {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.ap-comments .commentlist{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.ap-comments .commentlist li{
	margin:0;
	padding:0;
	border-top: 1px solid rgba(0,0,0,0.06);
}
.ap-comments .commentlist li:first-child{
	border-top: none;
}
.ap-comments .commentlist li article{
    margin: 0;
    padding: 10px;
}
.ap-comments .commentlist .c-avatar{
    margin-right: 15px;
    margin-top: 5px;
}
.ap-comments .commentlist .comment-content{
    font-family: 'arial',helvetica;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.ap-comments .inline-edit-comment{
    display: table;
    width: 100%;
}
.ap-comments .inline-edit-comment textarea{
    display: table-cell;
	vertical-align:top;
}
.ap-comments .inline-edit-comment button{
    display: table-cell;
    margin-left: 10px;
    vertical-align: top;
}
.ap-comments .commentlist .comment-content .comment-meta{
    font-size: 11px;
    margin-bottom: 4px;
}
.ap-comments .commentlist .comment-content .who{
    color: #777777;
    font-weight: 600;
}
.ap-comments .commentlist .comment-content .comment-edit-btn, .ap-comments .commentlist .comment-content .comment-delete-btn{
    background: #DDDDDD;
    border-radius: 2px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 10px;
    line-height: 14px;
    margin-left: 5px;
    padding: 1px 6px;
}
.ap-comments .commentlist .comment-content .comment-edit-btn:hover{
	background: #555;
}
.ap-comments .commentlist .comment-content .comment-delete-btn:hover{
	background: #ff6666;
}
.ap-comments .commentlist .comment-content .comment-edit-btn:before{
	margin-right:2px;
}
.ap-comments .commentlist .comment-content .comment-delete-btn i{
    font-size: 8px;
    margin-right: 3px;
}
.ap-comments .commentlist .comment-content p{
    color: #888888;
    font-size: 12px;
    margin: 0;
}
.ap-comments .commentlist .comment-content textarea{
    -moz-box-sizing: border-box;
    width: 500px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.ap-comments .commentlist .comment-content a{
	text-decoration:none;
	color: #888888;
}
.ap-comments .commentlist .comment-content.comment > p {
    margin: 0;
}
.ap-comments .commentlist .comment-content .edit-link{
	margin:0;
}
.ap-comments.comments-area article header {
    margin: 0;
}
.single-question #respond {
	margin-top:0;
}
.single-question #commentform{
    background: #F7F7F7;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: table;
    margin: 10px 0 0;
    width: 100%;
}
.single-question #commentform #anspress-comment{
    display: table-cell;
    margin: 10px;
    vertical-align: top;
}
.single-question #commentform .form-submit{
    display: table-cell;
    max-width: 85px;
    padding: 10px;
    text-align: right;
    vertical-align: top;
}




/* ---------------votings-----------------------
---------------------------------------------- */

.ap-voting a.vote-up,.ap-voting a.vote-down{
    color: #14ABD8;
    font-size: 13px;
    line-height: 100%;
    padding: 0;
    text-decoration: none;
}
.ap-voting *{
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    text-align: center;
	line-height: 10px;
	min-width: 15px;
}
.ap-voting .net-vote-count{
    font-weight: normal;
    padding: 8px 0;
}
.ap-voting a.voted{
	color:#ec5858;
}

.ap-voting a.disable{
	color:#ddd;
}

/* user actions buttons */
.user-actions{
	
}
.user-actions li{
    display: block;
    float: left;
    line-height: 25px;
    margin-right: 5px;
}
.user-actions .btn{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #777;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 10px;
}
.user-actions .btn:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.08);
}
.user-actions .btn:before {
    margin-right: 5px;
}
.user-actions .btn span{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: -5px;
    padding: 0 3px;
}

.user-actions .btn.flag-btn:before, .user-actions .btn.close-btn:before {
    margin: 0;
}
.user-actions .btn.flag-btn span{
    color: #fff;
}


/*----------------- Favourite ------------------
--------------------------------------------- */
.favourite-c{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    display: block;
    float: right;
    margin-top: 2px;
    padding: 5px 8px;
}
.favourite-btn{
    clear: both;
    display: block;
    text-align: center;
}
.favourite-btn.aicon-star:hover {
    text-decoration: none;
}
.favourite-btn:before{
	margin-right: 5px;
	color:#aaa;
}
.favourite-btn.added:before{
	color:#e45840;
}

/*---------------------- Close btn ---------------
--------------------------------------------------*/

a.close-btn{

}
a.close-btn.closed{

}

/* ------------Flag note and button----------------------
---------------------------------------------------- */
body.modal-open {
    margin-right: 0;
}
.modal.flag-note{
	overflow-y: auto;
}
.flag-note .modal-header {
    padding: 10px 15px;
	border-bottom: 0 none;
}
.flag-note .modal-title{
    clear: none;
    font-size: 16px;
    font-weight: bold;	
}
.flag-note .note {
    font-size: 13px;
    padding: 10px 5px;
}
.flag-note .note.active {
	background:#eee;
}
.flag-note .note-radio{
	margin-right:10px;
}
.flag-note .note-desc{
	overflow:hidden;
}
.flag-note .note-desc h4{
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
}
.flag-note .note-desc p{
    color: #666666;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}
.flag-note .note-desc .other-note {
    margin-top: 10px;
    width: 97%;
	display:none;
}
.flag-note .note.active .note-desc .other-note {
	display:block;
}
.flag-note .modal-footer {
    border-top: 0 none;
    margin-top: 0;
    padding: 5px 15px 15px;
}


/* list  */
.question-list {

}
.question-list .question {
    border: medium none;
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
}
.question-list .question:last-child {
    border-bottom: 0 none;
    margin-bottom: 0;
}
.question-list .list-voting{
	margin: 0 10px 0 0;
}

.question-list .content-inner{
    border-bottom: 1px solid #F6F6F6;
    display: table;
    width: 100%;
	line-height: 1.84615;
}
.question-list .wrap-right {
    display: table-cell;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    width: 110px;
}
.question-list article:nth-child(2n) .content-inner {
    background: #FFFFFF;
}
.question-list .content-inner .ap-avatar {
    display: table-cell;
    float: none;
    margin: 0;
    padding: 10px;
    vertical-align: top;
    width: 35px;
}
.question-list .content-inner .ap-avatar img{
	margin-top: 6px;
}
.question-list .content-inner .wrap-left {
    display: table-cell;
    vertical-align: top;
	padding: 10px;
	max-width:458px;
}

.question-list .entry-title{
    font-weight: 400;
    margin: 0;
    text-transform: none;
}
.question-list .entry-title a{
    color: #0074A2;
    text-decoration: none;
}
.question-list .content-inner .author-avatar {
    display: table-cell;
    margin-right: 20px;
    margin-top: 1px;
    vertical-align: top;
}

.question-list .answer-count, .question-list .views-count{
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 50%;
    color: #AAAAAA;
    display: block;
    float: left;
    font-size: 10px;
    height: 50px;
    margin: 6px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 50px;
}
.question-list .answer-count > span, .question-list .views-count > span{
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 4px;
}
.question-list .content-inner .answer-count{
    background: none repeat scroll 0 0 #A5D887;
    color: #FFFFFF;
    margin-right: 10px;
}
.question-list .content-inner .answer-count:hover{
	background: #fa725a;
}
.question-list .content-inner span.views-count:hover{
	background: #E7E7E7;
}

.question-list .content-inner .excerpt{
    color: #777777;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 20px;
    margin-bottom: 10px;
}

.question-list .list-meta{
    color: #777777;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
}
.question-list .list-meta span{
	margin-right: 5px;
}
.question-list .list-taxo{
    display: block;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.question-list .list-taxo >*{
    display: inline;
    font-size: 12px;
    margin: 0 5px 0 0;
}
.question-list .list-taxo .in-cat{
	display: inline;
}
.question-list .list-meta .question-tags{
    display: inline;
    margin: 0 0 0 10px;
}
.question-list .list-meta .question-tags:before{
    color: #AAAAAA;
    margin-right: 7px;
}
.question-list .list-meta .question-tags li a{
    background: #F3F3F3;
    border: medium none;
    color: #A0A0A0;
    line-height: 14px;
    margin: 0 5px 0 0;
    padding: 1px 4px;
    text-transform: lowercase;
}

/* tags list */
.question-tags:before, .question-cats:before {
    color: #AAAAAA;
    font-size: 10px;
    margin-right: 5px;
}
.question-tags, .question-cats{
    display: block;
    margin: 0;
    padding: 0;
}

.question-tags li, .question-cats li{
    display: inline-block;
    list-style: none outside none;
    margin: 0;
}
.question-tags li a, .question-cats li a{
    color: #777777;
    font-family: Helvetica,Arial,sans-serif;
    margin-right: 5px;
    padding: 0;
    text-decoration: none;
}

/* Question form */
#ask_question_form label {
    margin-bottom: 5px;
}


/* Login register form */
#login, #register{
	max-width:480px;
	margin:0 auto;
}
.or-sep{
    background: #DDDDDD;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-weight: bold;
    height: 50px;
    line-height: 48px;
    margin: 0 auto 20px;
    max-width: 480px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
	z-index: 5;
}
.or-sep:after{
    border: 1px solid #DDDDDD;
    content: "";
    display: block;
    left: -130px;
    min-width: 300px;
    position: absolute;
    top: 22px;
    width: 100%;
	z-index: -1;
}

/* post status label */
.question-status{
    background: #AAAAAA;
    border-radius: 2px;
    color: #FFFFFF;
    display: table;
    float: left;
    font-size: 9px;
    line-height: 14px;
    margin-right: 5px;
    margin-top: 3px;
    min-width: 40px;
    padding: 0 4px;
    text-align: center;
}
.question-status.open{
	background:#8fc61b;
}
.question-status.solved{
	background:#4ac1ff;
}
.question-status.duplicate{
	background:#feb714;
}
.question-status.closed{
	background:#f45e5e;
}

/* forms */
.your-answer-label{
	margin-bottom:10px;
}
#answer-form-c{
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    padding: 10px;
}
#answer-form-c .user-meta{
	border-bottom: 1px solid #EEEEEE;
}
#answer-form-c .user-meta .who {
    display: block;
    margin-top: 7px;
}
#ask_question_form, #answer_form{
    margin-bottom: 0;
    overflow: hidden;
}
#ask_question_form .wp-editor-wrap, #answer_form .wp-editor-wrap {
    border: solid 1px rgba(0,0,0,0.2);
    margin-bottom: 15px;
}
#ask_question_form input, #answer_form input, #ask_question_form select, #answer_form select{
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
	box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
#ask_question_form label, #answer_form label{
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
#ask_question_form button[type="submit"], #answer_form button[type="submit"]{
    font-size: 12px;
    padding: 5px 10px;
}
#answer-form-c .author-avatar {
    margin-right: 12px;
}



#please-login{
    background: #F35C5C;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 12px;
    left: 50%;
    margin-left: -95px;
    padding: 10px 20px;
    position: fixed;
    text-align: center;
    top: 55px;
}
#please-login button{
	background: rgba(0, 0, 0, 0.1);
    float: right;
    line-height: 12px;
    margin-left: 10px;
    margin-right: -15px;
    padding: 2px 5px;
}

#change-status > li{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #777777;
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    width: 100px;
}
#change-status > li .status-btn{
    color: #777777;
    display: block;
    padding: 0 10px;
    text-transform: capitalize;
}
#change-status > li > a:before{
	margin-left:0;
}
#change-status > li .status-btn i {
    float: right;
}
#change-status, #change-status li > ul{
	padding:0;
	margin:0;
}
#change-status li > ul{
	display:none;
	z-index:99;
}

#change-status.active li > ul{
    background: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    font-weight: bold;
    margin-left: -1px;
    position: absolute;
    width: 100px;
}
#change-status.active li > ul li{
    display: block;
    float: none;
    margin: 0;
}
#change-status.active li > ul li a{
    color: #777777;
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    padding: 2px;
    position: relative;
}
#change-status a:before{
    border: 5px solid;
    content: "";
    display: block;
    float: left;
    margin: 6px;
}

#change-status a.open:before{
	border-color: #4cd58a;
}
#change-status a.solved:before{
	border-color: #4ac1ff;
}
#change-status a.closed:before{
	border-color: #f64d55;
}
#change-status a.duplicate:before{
	border-color: #f7ba36;
}

/* widget style */
.ap-sidebar{
    display: table-cell;
    padding-left: 25px;
    vertical-align: top;
    width: 250px;
}
.ap-sidebar > #secondary{
	width:auto;
}
.ap-sidebar .widget {
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.ap-sidebar .widget h3{
	margin-top:0;
}
.ap-sidebar .widget a{
	color:inherit;
}

/* pagination */
ul.ap-pagination{
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    display: table;
    margin: 10px 0 0 10px;
}
.ap-pagination li{
    float: left;
    list-style: none outside none;
    margin: 0;
	border-right: 1px solid #DDDDDD;
}
.ap-pagination li:last-child{
	border-right: none;	
}
.ap-pagination li.active{
	background:#eee;
}
.ap-pagination li a, .ap-pagination li span {
    display: block;
    padding: 4px 15px;
    text-decoration: none;
}

/* ------ Categories Page -------- */

#ap-categories{

}
#ap-categories .ap-term-list{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#ap-categories .ap-term-list li{
    display: inline-block;
    margin: 0;
    width: 50%;
}
#ap-categories .ap-term-list li .ap-taxo-inner{
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #EDEDED;
    border-radius: 4px;
    display: block;
    margin: 5px;
    padding: 15px;
    position: relative;
}

#ap-categories .ap-term-list li .ap-taxo-body {

}
#ap-categories .ap-term-list li a.taxo-title{
    display: block;
    font-size: 14px;
    font-weight: 600;
}
#ap-categories .ap-term-list li .desc{
    color: #777777;
    font-size: 13px;
    margin-top: 5px;
}
#ap-categories .ap-term-list li .taxo-footer{
    margin-top: 10px;
    padding-top: 10px;
}
#ap-categories .ap-term-list li .taxo-footer > ul.child{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E9F2F7;
    display: none;
    left: 0;
    list-style: none outside none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 99;
}
#ap-categories .ap-term-list li .taxo-footer > ul.child li{
    display: block;
    float: none;
    width: auto;
}
#ap-categories .ap-term-list li .taxo-footer > ul.child li a{
    border-bottom: 1px solid #F3F3F3;
    color: #888888;
    display: block;
    font-size: 13px;
    padding: 10px 15px;
}
#ap-categories .ap-term-list li .taxo-footer > ul.child li a:hover{
	background:#edfbfd;
}

#ap-categories .ap-term-list li .taxo-footer > ul.child li a span{
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 6px;
    display: block;
    float: right;
    line-height: 18px;
    margin-top: 1px;
    padding: 0 12px;
}
#ap-categories .ap-term-list li .taxo-footer > ul.child li a:hover span{
	background:#A5D887;
	color:#fff;
}
#ap-categories .ap-term-list li .taxo-status{
	list-style:none;
}
#ap-categories .ap-term-list li .taxo-status li{
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 2px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 10px;
    margin-right: 5px;
    padding: 1px 6px;
    width: auto;
}
#ap-categories .ap-term-list li .taxo-status li.cat-feed {
    float: right;
    margin: 0;
    padding: 0;
}
#ap-categories .ap-term-list li .taxo-status li.cat-feed a{
    font-size: 17px;
    line-height: 25px;
    margin: 0;
    padding: 0 4px;
}
#ap-categories .ap-term-list li .taxo-status li.question-count{
	background:#E45840;
}
#ap-categories .ap-term-list li .taxo-status li.sub-cat-count{
	background:#8fc61b;
}
#ap-categories .ap-term-list li .taxo-status li.sub-cat-count a{
	color:#fff;
}
#ap-categories .ap-term-list li .taxo-status li.sub-cat-count i{
    display: block;
    float: right;
    font-size: 14px;
    line-height: 100%;
    margin-left: 5px;
    margin-top: 2px;
}
#ap-categories .ap-term-list li .taxo-status li span{
    background: #F1F1F1;
    border-radius: 7px;
    float: right;
    line-height: 20px;
    padding: 0 14px;
}

.ap-taxo-detail{
    border: 1px solid #ECECEC;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
}
.ap-taxo-detail h3{
    display: block;
    float: left;
    font-size: 18px;
}
.ap-taxo-detail .ap-taxo-meta{
	float: right;
}
.ap-taxo-detail .ap-taxo-meta .count{
    background: none repeat scroll 0 0 #8FC61B;
    border-radius: 2px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    margin-right: 10px;
    padding: 1px 5px;
}
.ap-taxo-detail .ap-taxo-meta .feed-link{
    background: none repeat scroll 0 0 #F1A34F;
    border-radius: 2px;
    color: #FFFFFF;
    display: block;
    float: left;
    padding: 1px 4px;
}
.ap-taxo-detail .desc{
    color: #777777;
    line-height: 22px;
    margin-top: 7px;
}
.ap-taxo-detail .ap-child-list{
	margin-top:5px;
}
.ap-taxo-detail .ap-child-list li{
    float: left;
    width: 25%;
}
.ap-taxo-detail .ap-child-list li a{
    display: block;
    padding: 5px;
}
.ap-taxo-detail .ap-child-list li a span{
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 2px;
    color: #777777;
    float: right;
    font-size: 11px;
    padding: 0 6px;
}

/* ------Tags Page-------- */
#ap-tags .ap-tags-list li{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
#ap-tags .ap-tags-list li .tag-list-inner{
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #EDEDED;
    border-radius: 4px;
    display: block;
    margin: 5px;
    padding: 15px;
}
#ap-tags .ap-tags-list li .tag-list-inner a.ap-tags{
    background: none repeat scroll 0 0 #8FC61B;
    border-radius: 2px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    padding: 0 7px;
    position: relative;
    text-transform: capitalize;
}

#ap-tags .ap-tags-list li .tag-list-inner a span{
	position:relative;
}

#ap-tags .ap-tags-list li .tag-list-inner p{
    color: #777777;
    font-size: 13px;
    margin-top: 5px;
}
#ap-tags .ap-tags-list li .tag-list-inner .feed-link{
    background: none repeat scroll 0 0 #F1A34F;
    border-radius: 2px;
    color: #FFFFFF;
    display: block;
    float: right;
    padding: 1px 4px;
}

