body{
	background: #fcfcfc;
	line-height: 1.6;
	font-size: 14px;
}
blockquote {
    border-left: 4px solid #ddd;
    font-family: georgia,arial,helvetica;
    font-size: 16px;
    padding-left: 10px;
}