body{
    background: none repeat scroll 0 0 #fcfcfc;
    font-size: 14px;
    line-height: 1.6;
}
blockquote {
    border-left: 4px solid #ddd;
    font-family: georgia,arial,helvetica;
    font-size: 16px;
    padding-left: 10px;
}

img {
    height: auto;
    max-width: 100%;
}