@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.anspress-container .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .anspress-container .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .anspress-container .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .anspress-container .container {
    width: 1170px;
  }
}
.anspress-container .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.anspress-container .row {
  margin-left: -15px;
  margin-right: -15px;
}
.anspress-container .col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.anspress-container .col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.anspress-container .col-xs-12 {
  width: 100%;
}
.anspress-container .col-xs-11 {
  width: 91.66666667%;
}
.anspress-container .col-xs-10 {
  width: 83.33333333%;
}
.anspress-container .col-xs-9 {
  width: 75%;
}
.anspress-container .col-xs-8 {
  width: 66.66666667%;
}
.anspress-container .col-xs-7 {
  width: 58.33333333%;
}
.anspress-container .col-xs-6 {
  width: 50%;
}
.anspress-container .col-xs-5 {
  width: 41.66666667%;
}
.anspress-container .col-xs-4 {
  width: 33.33333333%;
}
.anspress-container .col-xs-3 {
  width: 25%;
}
.anspress-container .col-xs-2 {
  width: 16.66666667%;
}
.anspress-container .col-xs-1 {
  width: 8.33333333%;
}
.anspress-container .col-xs-pull-12 {
  right: 100%;
}
.anspress-container .col-xs-pull-11 {
  right: 91.66666667%;
}
.anspress-container .col-xs-pull-10 {
  right: 83.33333333%;
}
.anspress-container .col-xs-pull-9 {
  right: 75%;
}
.anspress-container .col-xs-pull-8 {
  right: 66.66666667%;
}
.anspress-container .col-xs-pull-7 {
  right: 58.33333333%;
}
.anspress-container .col-xs-pull-6 {
  right: 50%;
}
.anspress-container .col-xs-pull-5 {
  right: 41.66666667%;
}
.anspress-container .col-xs-pull-4 {
  right: 33.33333333%;
}
.anspress-container .col-xs-pull-3 {
  right: 25%;
}
.anspress-container .col-xs-pull-2 {
  right: 16.66666667%;
}
.anspress-container .col-xs-pull-1 {
  right: 8.33333333%;
}
.anspress-container .col-xs-pull-0 {
  right: auto;
}
.anspress-container .col-xs-push-12 {
  left: 100%;
}
.anspress-container .col-xs-push-11 {
  left: 91.66666667%;
}
.anspress-container .col-xs-push-10 {
  left: 83.33333333%;
}
.anspress-container .col-xs-push-9 {
  left: 75%;
}
.anspress-container .col-xs-push-8 {
  left: 66.66666667%;
}
.anspress-container .col-xs-push-7 {
  left: 58.33333333%;
}
.anspress-container .col-xs-push-6 {
  left: 50%;
}
.anspress-container .col-xs-push-5 {
  left: 41.66666667%;
}
.anspress-container .col-xs-push-4 {
  left: 33.33333333%;
}
.anspress-container .col-xs-push-3 {
  left: 25%;
}
.anspress-container .col-xs-push-2 {
  left: 16.66666667%;
}
.anspress-container .col-xs-push-1 {
  left: 8.33333333%;
}
.anspress-container .col-xs-push-0 {
  left: auto;
}
.anspress-container .col-xs-offset-12 {
  margin-left: 100%;
}
.anspress-container .col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.anspress-container .col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.anspress-container .col-xs-offset-9 {
  margin-left: 75%;
}
.anspress-container .col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.anspress-container .col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.anspress-container .col-xs-offset-6 {
  margin-left: 50%;
}
.anspress-container .col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.anspress-container .col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.anspress-container .col-xs-offset-3 {
  margin-left: 25%;
}
.anspress-container .col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.anspress-container .col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.anspress-container .col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .anspress-container .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .anspress-container .col-sm-12 {
    width: 100%;
  }
  .anspress-container .col-sm-11 {
    width: 91.66666667%;
  }
  .anspress-container .col-sm-10 {
    width: 83.33333333%;
  }
  .anspress-container .col-sm-9 {
    width: 75%;
  }
  .anspress-container .col-sm-8 {
    width: 66.66666667%;
  }
  .anspress-container .col-sm-7 {
    width: 58.33333333%;
  }
  .anspress-container .col-sm-6 {
    width: 50%;
  }
  .anspress-container .col-sm-5 {
    width: 41.66666667%;
  }
  .anspress-container .col-sm-4 {
    width: 33.33333333%;
  }
  .anspress-container .col-sm-3 {
    width: 25%;
  }
  .anspress-container .col-sm-2 {
    width: 16.66666667%;
  }
  .anspress-container .col-sm-1 {
    width: 8.33333333%;
  }
  .anspress-container .col-sm-pull-12 {
    right: 100%;
  }
  .anspress-container .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .anspress-container .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .anspress-container .col-sm-pull-9 {
    right: 75%;
  }
  .anspress-container .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .anspress-container .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .anspress-container .col-sm-pull-6 {
    right: 50%;
  }
  .anspress-container .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .anspress-container .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .anspress-container .col-sm-pull-3 {
    right: 25%;
  }
  .anspress-container .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .anspress-container .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .anspress-container .col-sm-pull-0 {
    right: auto;
  }
  .anspress-container .col-sm-push-12 {
    left: 100%;
  }
  .anspress-container .col-sm-push-11 {
    left: 91.66666667%;
  }
  .anspress-container .col-sm-push-10 {
    left: 83.33333333%;
  }
  .anspress-container .col-sm-push-9 {
    left: 75%;
  }
  .anspress-container .col-sm-push-8 {
    left: 66.66666667%;
  }
  .anspress-container .col-sm-push-7 {
    left: 58.33333333%;
  }
  .anspress-container .col-sm-push-6 {
    left: 50%;
  }
  .anspress-container .col-sm-push-5 {
    left: 41.66666667%;
  }
  .anspress-container .col-sm-push-4 {
    left: 33.33333333%;
  }
  .anspress-container .col-sm-push-3 {
    left: 25%;
  }
  .anspress-container .col-sm-push-2 {
    left: 16.66666667%;
  }
  .anspress-container .col-sm-push-1 {
    left: 8.33333333%;
  }
  .anspress-container .col-sm-push-0 {
    left: auto;
  }
  .anspress-container .col-sm-offset-12 {
    margin-left: 100%;
  }
  .anspress-container .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .anspress-container .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .anspress-container .col-sm-offset-9 {
    margin-left: 75%;
  }
  .anspress-container .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .anspress-container .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .anspress-container .col-sm-offset-6 {
    margin-left: 50%;
  }
  .anspress-container .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .anspress-container .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .anspress-container .col-sm-offset-3 {
    margin-left: 25%;
  }
  .anspress-container .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .anspress-container .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .anspress-container .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .anspress-container .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .anspress-container .col-md-12 {
    width: 100%;
  }
  .anspress-container .col-md-11 {
    width: 91.66666667%;
  }
  .anspress-container .col-md-10 {
    width: 83.33333333%;
  }
  .anspress-container .col-md-9 {
    width: 75%;
  }
  .anspress-container .col-md-8 {
    width: 66.66666667%;
  }
  .anspress-container .col-md-7 {
    width: 58.33333333%;
  }
  .anspress-container .col-md-6 {
    width: 50%;
  }
  .anspress-container .col-md-5 {
    width: 41.66666667%;
  }
  .anspress-container .col-md-4 {
    width: 33.33333333%;
  }
  .anspress-container .col-md-3 {
    width: 25%;
  }
  .anspress-container .col-md-2 {
    width: 16.66666667%;
  }
  .anspress-container .col-md-1 {
    width: 8.33333333%;
  }
  .anspress-container .col-md-pull-12 {
    right: 100%;
  }
  .anspress-container .col-md-pull-11 {
    right: 91.66666667%;
  }
  .anspress-container .col-md-pull-10 {
    right: 83.33333333%;
  }
  .anspress-container .col-md-pull-9 {
    right: 75%;
  }
  .anspress-container .col-md-pull-8 {
    right: 66.66666667%;
  }
  .anspress-container .col-md-pull-7 {
    right: 58.33333333%;
  }
  .anspress-container .col-md-pull-6 {
    right: 50%;
  }
  .anspress-container .col-md-pull-5 {
    right: 41.66666667%;
  }
  .anspress-container .col-md-pull-4 {
    right: 33.33333333%;
  }
  .anspress-container .col-md-pull-3 {
    right: 25%;
  }
  .anspress-container .col-md-pull-2 {
    right: 16.66666667%;
  }
  .anspress-container .col-md-pull-1 {
    right: 8.33333333%;
  }
  .anspress-container .col-md-pull-0 {
    right: auto;
  }
  .anspress-container .col-md-push-12 {
    left: 100%;
  }
  .anspress-container .col-md-push-11 {
    left: 91.66666667%;
  }
  .anspress-container .col-md-push-10 {
    left: 83.33333333%;
  }
  .anspress-container .col-md-push-9 {
    left: 75%;
  }
  .anspress-container .col-md-push-8 {
    left: 66.66666667%;
  }
  .anspress-container .col-md-push-7 {
    left: 58.33333333%;
  }
  .anspress-container .col-md-push-6 {
    left: 50%;
  }
  .anspress-container .col-md-push-5 {
    left: 41.66666667%;
  }
  .anspress-container .col-md-push-4 {
    left: 33.33333333%;
  }
  .anspress-container .col-md-push-3 {
    left: 25%;
  }
  .anspress-container .col-md-push-2 {
    left: 16.66666667%;
  }
  .anspress-container .col-md-push-1 {
    left: 8.33333333%;
  }
  .anspress-container .col-md-push-0 {
    left: auto;
  }
  .anspress-container .col-md-offset-12 {
    margin-left: 100%;
  }
  .anspress-container .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .anspress-container .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .anspress-container .col-md-offset-9 {
    margin-left: 75%;
  }
  .anspress-container .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .anspress-container .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .anspress-container .col-md-offset-6 {
    margin-left: 50%;
  }
  .anspress-container .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .anspress-container .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .anspress-container .col-md-offset-3 {
    margin-left: 25%;
  }
  .anspress-container .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .anspress-container .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .anspress-container .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .anspress-container .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .anspress-container .col-lg-12 {
    width: 100%;
  }
  .anspress-container .col-lg-11 {
    width: 91.66666667%;
  }
  .anspress-container .col-lg-10 {
    width: 83.33333333%;
  }
  .anspress-container .col-lg-9 {
    width: 75%;
  }
  .anspress-container .col-lg-8 {
    width: 66.66666667%;
  }
  .anspress-container .col-lg-7 {
    width: 58.33333333%;
  }
  .anspress-container .col-lg-6 {
    width: 50%;
  }
  .anspress-container .col-lg-5 {
    width: 41.66666667%;
  }
  .anspress-container .col-lg-4 {
    width: 33.33333333%;
  }
  .anspress-container .col-lg-3 {
    width: 25%;
  }
  .anspress-container .col-lg-2 {
    width: 16.66666667%;
  }
  .anspress-container .col-lg-1 {
    width: 8.33333333%;
  }
  .anspress-container .col-lg-pull-12 {
    right: 100%;
  }
  .anspress-container .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .anspress-container .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .anspress-container .col-lg-pull-9 {
    right: 75%;
  }
  .anspress-container .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .anspress-container .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .anspress-container .col-lg-pull-6 {
    right: 50%;
  }
  .anspress-container .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .anspress-container .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .anspress-container .col-lg-pull-3 {
    right: 25%;
  }
  .anspress-container .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .anspress-container .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .anspress-container .col-lg-pull-0 {
    right: auto;
  }
  .anspress-container .col-lg-push-12 {
    left: 100%;
  }
  .anspress-container .col-lg-push-11 {
    left: 91.66666667%;
  }
  .anspress-container .col-lg-push-10 {
    left: 83.33333333%;
  }
  .anspress-container .col-lg-push-9 {
    left: 75%;
  }
  .anspress-container .col-lg-push-8 {
    left: 66.66666667%;
  }
  .anspress-container .col-lg-push-7 {
    left: 58.33333333%;
  }
  .anspress-container .col-lg-push-6 {
    left: 50%;
  }
  .anspress-container .col-lg-push-5 {
    left: 41.66666667%;
  }
  .anspress-container .col-lg-push-4 {
    left: 33.33333333%;
  }
  .anspress-container .col-lg-push-3 {
    left: 25%;
  }
  .anspress-container .col-lg-push-2 {
    left: 16.66666667%;
  }
  .anspress-container .col-lg-push-1 {
    left: 8.33333333%;
  }
  .anspress-container .col-lg-push-0 {
    left: auto;
  }
  .anspress-container .col-lg-offset-12 {
    margin-left: 100%;
  }
  .anspress-container .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .anspress-container .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .anspress-container .col-lg-offset-9 {
    margin-left: 75%;
  }
  .anspress-container .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .anspress-container .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .anspress-container .col-lg-offset-6 {
    margin-left: 50%;
  }
  .anspress-container .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .anspress-container .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .anspress-container .col-lg-offset-3 {
    margin-left: 25%;
  }
  .anspress-container .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .anspress-container .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .anspress-container .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.anspress-container .clearfix:before,
.anspress-container .clearfix:after,
.anspress-container .container:before,
.anspress-container .container:after,
.anspress-container .container-fluid:before,
.anspress-container .container-fluid:after,
.anspress-container .row:before,
.anspress-container .row:after {
  content: " ";
  display: table;
}
.anspress-container .clearfix:after,
.anspress-container .container:after,
.anspress-container .container-fluid:after,
.anspress-container .row:after {
  clear: both;
}
.anspress-container .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.anspress-container .pull-right {
  float: right !important;
}
.anspress-container .pull-left {
  float: left !important;
}
.anspress-container *,
.anspress-container *:before,
.anspress-container *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.anspress-container .hentry {
  padding-top: 0;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.anspress-container a {
  text-decoration: none;
}
.anspress-container .ap-pull-right {
  float: right !important;
}
.anspress-container .ap-pull-left {
  float: left !important;
}
.anspress-container .no-overflow {
  overflow: hidden;
}
.anspress-container .ap-ul-inline {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}
.anspress-container .ap-ul-inline > li {
  float: left;
  list-style: none outside none;
  margin: 0 5px 0 0;
  padding: 0;
}
.anspress-container .ap-ul-inline > li:last-child {
  margin-right: 0;
}
.anspress-container .ap-ul-inline > li ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.anspress-container .ap-avatar {
  margin-right: 15px;
}
.anspress-container .ap-avatar img {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.anspress-container .ap-initially-hidden {
  display: none;
}
.anspress-container .ap-tab {
  border-bottom: solid 2px #eeeeee;
  margin-bottom: 10px;
}
.anspress-container .ap-tab li.active a {
  background: #ffffff;
  border-color: #eeeeee #eeeeee transparent;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  margin-bottom: -2px;
  padding-bottom: 12px;
  padding-top: 8px;
  -webkit-border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
  color: #595959;
}
.anspress-container .ap-tab li:first-child {
  margin-left: 5px;
}
.anspress-container .ap-tab li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #888888;
  font-weight: 600;
}
.anspress-container .ap-tab li a:hover {
  background: #eeeeee;
}
.anspress-container .ap-widget-title {
  color: #888888;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 1.2;
}
.anspress-container .block {
  display: block;
}
.anspress-container .ap-pagination {
  display: block;
  margin: 20px 0;
}
.anspress-container .ap-pagination span,
.anspress-container .ap-pagination a {
  border: 1px solid #eeeeee;
  display: block;
  float: left;
  margin-right: 5px;
  padding: 5px 14px;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.anspress-container .ap-pagination span {
  background: #eeeeee;
}
.anspress-container .ap-notice {
  display: block;
}
.anspress-container .border-top {
  border-top: solid 1px #eeeeee;
}
.anspress-container .margin-top-20 {
  margin-top: 20px;
}
.anspress-container .private-question-label {
  background: none repeat scroll 0 0 #8F8F8F;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  color: #ffffff;
  display: table;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 2px 6px;
}
.anspress-container .ap-no-permission-to-view {
  background: #f7fcfe;
  display: block;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
}
.anspress-container .ap-please-login {
  background: none repeat scroll 0 0 #e0fbff;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
}
.anspress-container .ap-questions-tab {
  border-bottom: solid 1px #ddd;
}
.anspress-container .ap-questions-tab > li {
  margin-right: 10px;
}
.anspress-container .ap-questions-tab > li.active a {
  border-color: #ddd #ddd #fff;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #595959;
  margin-bottom: -1px;
}
.anspress-container .ap-questions-tab > li a {
  color: #428bca;
  display: block;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 3px 3px 0 0;
}
.anspress-container .ap-notice {
  background: none repeat scroll 0 0 #eee;
  border-radius: 2px;
  display: block;
  margin-top: 10px;
  padding: 12px;
}
.anspress-container .ap-notice.black {
  background: #777;
  color: #fff;
}
.anspress-container .ap-notice.yellow {
  background: #f4ac20;
  color: #fff;
}
.anspress-container .ap-notice.red {
  background: #eb5837;
  color: #fff;
}
.anspress-container .ap-notice.blue {
  background: #11a7db;
  color: #fff;
}
.anspress-container .ap-notice.blue a {
  color: #fff;
}
.anspress-container .ap-notice i {
  margin-right: 15px;
}
.anspress-container .ap-pending-notice {
  background: #f4ac20;
  border-radius: 2px;
  margin: 0 15px 10px;
  padding: 20px;
  text-align: center;
}
.anspress-container .ap-text-label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.anspress-container .ap-view-count-0 {
  display: none;
}
.anspress-container .ap-cradit {
  color: #aaa;
  font-size: 12px;
  margin-top: 20px;
}
.ap-loading-icon {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.4);
  display: block;
  height: 16px;
  position: absolute;
  text-align: center;
  width: 16px;
  z-index: 99;
}
.ap-loading-icon.fade-bg {
  background: rgba(255, 255, 255, 0.8);
}
.ap-loading-icon > i {
  font-size: 16px;
  height: 16px;
  left: 50%;
  line-height: 16px;
  margin-left: -10px;
  margin-top: -10px;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 16px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.g-recaptcha {
  margin-bottom: 15px;
}
.anspress-container .ap-questions-item {
  border-bottom: 1px solid #F8F8F8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: table;
  margin: 0;
  padding: 15px 0;
  width: 100%;
}
.anspress-container .ap-questions-item.hentry {
  margin: 0;
  border-top: none;
}
.anspress-container .ap-questions-history {
  margin-top: 5px;
}
.anspress-container .ap-questions .ap-avatar {
  margin-right: 15px;
  margin-top: 4px;
}
.anspress-container .ap-questions-title {
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 0;
}
.anspress-container .ap-questions-title a {
  text-decoration: none;
}
.anspress-container .ap-questions-count {
  border: 1px solid #eee;
  border-radius: 2px;
  color: #888;
  display: block;
  float: left;
  font-size: 13px;
  height: 50px;
  line-height: 18px;
  margin-left: 12px;
  padding: 2px;
  text-align: center;
  width: 55px;
}
.anspress-container .ap-questions-count span {
  color: #777;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
}
.anspress-container .ap-questions-acount {
  background: #5db34a;
  border-color: rgba(0, 0, 0, 0.08);
  color: #fff;
}
.anspress-container .ap-questions-acount span {
  color: #fff;
}
.anspress-container .ap-questions-summery {
  padding-right: 10px;
}
.anspress-container .selected,
.anspress-container .ap-best-answer-label {
  background: #7dc36d;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  color: #ffffff;
  font-size: 10px;
  line-height: 14px;
  padding: 1px 3px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 10px;
}
.anspress-container .ap-display-meta-item:before {
  background: #dadada;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 7px;
  margin-left: 10px;
  margin-right: 6px;
  padding: 0;
  vertical-align: middle;
  width: 7px;
}
.anspress-container .ap-display-meta-item:first-child:before {
  display: none;
}
.anspress-container .ap-display-meta-item i {
  font-style: normal;
}
.tooltipster-default.ap-tip-style {
  background: #000000;
  font-size: 11px;
  font-family: arial, helvetica, sans-serif;
}
.tooltipster-default.ap-tip-style .tooltipster-content {
  font-size: 13px;
}
.tooltipster-default.ap-tip-style .tooltipster-content a {
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}
.tooltipster-default.ap-tip-style.tags-list {
  background: #ffffff;
  width: 150px;
  border: solid 2px #ddd;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.tooltipster-default.ap-tip-style.tags-list a {
  color: #595959;
  display: block;
  font-weight: normal;
  padding: 8px 5px;
  border-bottom: solid 1px #f8f8f8;
}
.tooltipster-default.ap-tip-style.tags-list a:hover {
  background: #f8f8f8;
}
.tooltipster-default.ap-tip-style.tags-list a:last-child {
  border-bottom: none;
}
.anspress-container .ap-q .ap-avatar {
  margin-right: 15px;
  margin-top: 5px;
}
.anspress-container .ap-q .entry-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}
.anspress-container .ap-q .entry-title a {
  color: #595959;
}
.anspress-container .ap-q-head {
  margin-bottom: 20px;
}
.anspress-container .ap-q-cells {
  margin-left: 55px;
  margin-top: 10px;
  padding-bottom: 25px;
}
.anspress-container .ap-q-metas {
  margin-bottom: 10px;
}
.anspress-container .ap-q-metas li {
  color: #888888;
  font-size: 13px;
  margin: 0 5px 0 0;
}
.anspress-container .ap-q-metas li i {
  font-style: normal;
}
.anspress-container .ap-q-metas li:before {
  background: #dadada;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  content: "";
  display: block;
  float: left;
  height: 3px;
  margin-right: 6px;
  margin-top: 7px;
  padding: 0;
  width: 3px;
}
.anspress-container .ap-q-metas li:first-child:before {
  display: none;
}
.anspress-container .ap-q-metas .ap-avatar {
  margin-right: 10px;
  margin-top: 0px;
}
.anspress-container .ap-q-content {
  font-family: georgia,times new roman,serif;
  font-size: 16px;
  line-height: 1.8;
}
.anspress-container .ap-q-content p {
  margin-bottom: 10px;
}
.anspress-container .ap-q-content p:last-child {
  margin-bottom: 0;
}
.anspress-container .ap-q-actions {
  margin-top: 10px;
}
.anspress-container .ap-q-actions li {
  margin-right: 15px;
  margin-top: 5px;
}
.anspress-container .ap-q-actions .ap-action-vote {
  float: left;
  margin-left: 0;
  margin-top: 0;
  line-height: 1.2;
}
.anspress-container .ap-q-actions .ap-action-favorite .favorite-btn {
  margin-top: -2px;
  padding: 1px 5px;
}
.anspress-container .ap-q-actions .ap-action-favorite .favorite-btn.active {
  color: #fff;
}
.anspress-container .ap-q-actions > li > a {
  border: 1px solid #eee;
  border-radius: 2px;
  display: block;
  font-size: 12px;
  font-weight: 600;
  height: 27px;
  line-height: 1.2;
  padding: 5px 10px;
  text-decoration: none;
}
.anspress-container .ap-q-actions > li > a:hover {
  color: #595959;
}
.anspress-container .ap-q-actions > li > a i {
  display: inline-block;
  font-size: 11px;
  margin-right: 1px;
  margin-top: 0;
}
.anspress-container .ap-q-actions > li > a span {
  border-left: 1px solid #eee;
  display: table;
  float: right;
  font-size: 11px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: -10px;
  margin-top: -5px;
  padding: 6px 9px;
}
.anspress-container .ap-q-actions .ap-action-select_answer a {
  color: #fff;
}
.anspress-container .ap-q-actions .ap-dropdown-toggle {
  border: 1px solid #eee;
  border-radius: 2px;
  color: #aaa;
  display: block;
  padding: 2px 6px;
  height: 27px;
}
.ap-user-meta {
  color: #888888;
  margin-bottom: 3px;
}
.ap-user-meta a {
  color: #595959;
}
.ap-user-meta-display_name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.ap-user-meta-reputation {
  background: none repeat scroll 0 0 #ff8d37;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  padding: 0 4px;
}
.ap-content .ap-question-actions-history {
  margin-bottom: 20px;
}
.ap-content .ap-posted-in {
  margin-bottom: -20px;
  text-transform: uppercase;
}
.ap-post-tags li a {
  background: #11a7db;
  border-radius: 10px;
  color: #fff;
  display: table;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 2px 10px;
  text-decoration: none;
}
.ap-post-tags li a .tax-count {
  font-style: normal;
}
.ap-post-tags li a:hover {
  border-color: #5db34a;
  color: #595959;
}
.ap-post-tags li:last-child a {
  margin-bottom: 0;
}
.ap-sorting-tab {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 5px 0;
}
.ap-sorting-tab .ap-widget-title {
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 3px 0;
  color: #595959;
}
.ap-sorting-tab .ap-answers-tab {
  float: right;
  margin: 0;
  border-bottom: none;
  padding: 0;
  list-style: none;
}
.ap-sorting-tab .ap-answers-tab li {
  margin-left: 10px;
  margin-right: 0;
}
.ap-sorting-tab .ap-answers-tab li > a {
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  display: block;
}
.ap-sorting-tab .ap-answers-tab li.active a {
  color: #595959;
}
#answers .answer {
  margin: 30px 0 0;
  padding: 0;
}
#answers .answer:first-child {
  padding-top: 0;
  border-top: none;
}
#ap-best-answer {
  position: relative;
  margin-top: 25px;
}
#ap-best-answer .ap-content-inner {
  background: none repeat scroll 0 0 rgba(247, 254, 249, 0.33);
  border: 1px solid rgba(204, 218, 202, 0.22);
}
.ap-btn-select {
  background: #5db34a;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  color: #ffffff;
  display: block;
  font-size: 11px;
  padding: 1px 4px;
  text-decoration: none;
}
.ap-btn-select:hover {
  border-color: #5db34a;
  text-decoration: none;
  color: #ffffff;
}
.ap-btn-select.selected {
  background: #f4ac20;
  color: #ffffff;
  border-color: transparent;
}
.ap-btn-select:before {
  display: block;
  float: left;
  font-size: 11px;
  margin-right: 3px;
  margin-top: 1px;
}
.ap-question-right {
  padding-left: 30px;
}
.ap-question-right > div {
  margin-bottom: 20px;
}
.ap-question-right .ap-widget-title {
  color: #303030;
  display: block;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 5px;
}
.ap-participants-list {
  display: block;
  margin: 0 -5px -5px;
}
.ap-participants-list .ap-avatar {
  display: block;
  float: left;
  margin-right: 0;
  margin-bottom: 10px;
  padding: 5px;
}
.ap-single-vote {
  position: relative;
}
.comment-awaiting-moderation {
  background: #f4ac20;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  color: #fff;
  display: table;
  font-size: 11px;
  padding: 1px 4px;
}
.ap-question-info .ap-widget-title {
  border-bottom: 1px solid #f8f8f8;
  color: #333;
  display: block;
  font-size: 11px;
  margin: 0 0 5px;
  padding: 0 0 8px;
  text-transform: uppercase;
}
.ap-question-info .question-tags {
  margin: 0;
  list-style: none;
  padding: 0;
}
.ap-btn {
  background: #11a7db;
  border-color: transparent transparent rgba(0, 0, 0, 0.1);
  border-image: none;
  border-radius: 2px;
  border-style: none none solid;
  border-width: medium medium 2px;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
}
.ap-btn.ap-btn-blue {
  background: #11a7db;
  color: #ffffff;
}
.ap-btn.ap-btn-blue:hover {
  border-color: #11a7db;
}
.ap-btn.ap-btn-view-all {
  display: block;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
.ap-btn:hover {
  text-decoration: none;
  border-color: transparent transparent #11a7db;
  color: #ffffff;
}
.ap-vote {
  background-clip: padding-box;
  color: #428bca;
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
  position: relative;
}
.ap-vote > * {
  float: left;
}
.ap-vote a {
  border: 1px solid #d2e3f2;
  border-radius: 3px;
  color: #6198cb;
  display: block;
  padding: 2px 7px;
  text-decoration: none;
}
.ap-vote a:focus {
  outline: none;
}
.ap-vote a.disable {
  cursor: default;
  opacity: 0.3;
}
.ap-vote .net-vote-count {
  color: #888888;
  display: block;
  font-size: 15px;
  padding: 4px 10px;
}
.ap-vote .ap-vote-fade {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.ap-radio-btn {
  background: none repeat scroll 0 0 #ddd;
  border: 2px solid #ddd;
  -webkit-border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px;
  -moz-background-clip: padding;
  border-radius: 8px;
  background-clip: padding-box;
  display: block;
  width: 30px;
  height: 16px;
  position: relative;
  cursor: pointer;
}
.ap-radio-btn:before {
  background: none repeat scroll 0 0 #fff;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 0;
}
.ap-radio-btn:focus {
  outline: none;
}
.ap-radio-btn.active {
  background: #5db34a;
  border-color: #5db34a;
}
.ap-radio-btn.active:before {
  right: 0;
  left: auto;
}
.ap-subscribe {
  text-align: center;
}
.ap-subscribe .ap-subscribe-label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.ap-subscribe .ap-btn {
  margin: 0 auto;
  display: block;
}
.ap-subscribe .ap-btn i {
  font-size: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
.ap-subscribe .ap-btn.active {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
}
.ap-dropdown {
  position: relative;
}
.ap-dropdown .ap-dropdown-menu {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  right: 0;
  width: 160px;
  z-index: 99;
}
.ap-dropdown .ap-dropdown-menu > li {
  margin: 0;
  float: none;
}
.ap-dropdown .ap-dropdown-menu > li > a {
  border-bottom: 1px solid #f9f9f9;
  display: block;
  padding: 5px 15px;
}
.ap-dropdown .ap-dropdown-menu > li > a:hover {
  background: #fcfcfc;
}
.ap-dropdown.open .ap-dropdown-menu {
  display: block;
}
.anspress-container .ap-form-control {
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px #fbfbfb inset;
  -moz-box-shadow: 0 0 2px #fbfbfb inset;
  box-shadow: 0 0 2px #fbfbfb inset;
  display: block;
  height: 40px;
  margin-bottom: 15px;
  padding: 5px 10px;
  width: 100%;
  line-height: 1.2;
}
.anspress-container .ap-form-control.autogrow {
  overflow: hidden;
}
.anspress-container .ap-form-control[type="checkbox"] {
  display: inline;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}
.anspress-container label > input[type="checkbox"] {
  float: left;
  margin-right: 15px !important;
}
.anspress-container label.inline-cb {
  margin-bottom: 15px;
}
.anspress-container .ap-checkbox-withdesc {
  margin-bottom: 15px;
}
.anspress-container .ap-checkbox-withdesc [type="checkbox"] {
  float: left;
  height: 20px;
  line-height: 100%;
  margin-right: 10px;
}
.anspress-container .ap-checkbox-withdesc p {
  color: #888888;
  font-size: 13px;
  margin-bottom: 0;
}
.anspress-container .ap-form-fields {
  position: relative;
}
.anspress-container .ap-form-fields.ap-have-error .ap-form-control,
.anspress-container .ap-form-fields.ap-have-error .ap-editor {
  border: solid 2px #eb5837;
  background: #fef3f0;
}
.anspress-container .ap-form-fields.ap-have-error .ap-editor {
  padding: 10px;
}
.anspress-container .ap-form-fields.ap-have-error.being-edited .ap-form-control,
.anspress-container .ap-form-fields.ap-have-error.being-edited .ap-editor {
  border-color: #f4ac20;
  background: #ffffff;
}
.anspress-container .ap-form-fields.ap-have-error.being-edited .ap-form-error-message {
  background: #f4ac20;
}
.anspress-container .ap-form-fields .ap-form-error-message {
  background: #eb5837;
  -webkit-border-radius: 2px 2px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  color: #ffffff;
  margin: 0;
  padding: 3px 10px;
  position: absolute;
  right: 0;
  top: 5px;
}
.anspress-container .ap-editor {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.anspress-container .ap-editor iframe {
  margin: 0;
}
.anspress-container .ap-editor .quicktags-toolbar {
  background: none;
  border: none;
}
.anspress-container .ap-editor .mce-edit-area {
  background: none repeat scroll 0 0 #fcfcfc;
  border-top: 1px solid #ddd;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05) inset;
  padding: 7px;
}
.anspress-container .ap-editor .quicktags-toolbar input.button,
.anspress-container .ap-editor .mce-btn button {
  background: #fff;
  border: medium none;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #aaa;
}
.anspress-container .ap-editor .quicktags-toolbar input.button i,
.anspress-container .ap-editor .mce-btn button i {
  padding: 0;
}
.anspress-container .ap-editor .mce-toolbar-grp {
  background: none repeat scroll 0 0 #fff;
  border-bottom: medium none;
}
.anspress-container .ap-editor .html-active .switch-html,
.anspress-container .ap-editor .tmce-active .switch-tmce {
  background: #fff;
  border-bottom-color: #fff;
}
.anspress-container .ap-editor div.mce-toolbar-grp > div {
  padding: 0;
}
.anspress-container .ap-editor .mce-toolbar .mce-btn-group .mce-btn {
  border-color: transparent #eee transparent transparent;
  border-image: none;
  border-style: none solid none none;
  border-width: medium 1px medium medium;
  margin: 0;
  padding: 3px;
}
.anspress-container .ap-editor .mce-toolbar .mce-btn-group .mce-btn:hover {
  background: transparent;
  border-color: #ddd;
}
.anspress-container .ap-editor .wp-editor-tools {
  background: #f8f8f8;
  padding: 5px;
}
.anspress-container .ap-editor .mce-statusbar {
  display: none;
}
.anspress-container .ap-editor .wp-media-buttons {
  position: absolute;
  right: 3px;
  top: 1px;
}
.anspress-container .ap-editor .wp-media-buttons #insert-media-button {
  background: none repeat scroll 0 0 #fff;
  border-color: #eee;
  border-image: none;
  border-radius: 0;
  border-style: none none none solid;
  border-width: 1px;
  box-shadow: none;
  height: 30px;
  margin-bottom: -3px;
  margin-right: -2px;
  margin-top: -1px;
  padding: 2px 10px;
}
.anspress-container .ap-editor #wp-description-editor-tools {
  padding: 0;
}
.anspress-container .ap-editor .mce-toolbar.mce-first.mce-stack-layout-item {
  margin-right: 120px;
}
.anspress-container .btn-submit-ans {
  padding: 10px 20px;
}
.anspress-container .ap-form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}
.anspress-container .ap-form-label .ap-field-desc {
  background: #bbb;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  height: 15px;
  line-height: 16px;
  margin-left: 7px;
  text-align: center;
  width: 15px;
}
.anspress-container .ap-form-label .ap-field-desc:hover {
  background: #11a7db;
  cursor: pointer;
}
.anspress-container .ap-similar-questions-head h3 {
  color: #5db34a;
  font-size: 16px;
  font-weight: 600;
}
.anspress-container .ap-similar-questions {
  border: solid 2px #eee;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  margin-bottom: 15px;
  max-height: 210px;
  overflow-x: auto;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.04) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.04) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.04) inset;
  padding: 15px;
}
.anspress-container .ap-similar-questions a {
  color: #595959;
  display: block;
  padding: 8px;
  text-decoration: none;
}
.anspress-container .ap-similar-questions a .acount {
  color: #888888;
  float: right;
  font-size: 13px;
  font-style: italic;
}
.anspress-container .ap-similar-questions a:hover {
  background: #fcfcfc;
}
.anspress-container .ap-similar-questions a .highlight_word {
  font-weight: 600;
  text-decoration: underline;
}
.anspress-container #answer_form .ap-editor-answer-label {
  color: #888;
  display: block !important;
  padding: 5px 10px;
}
.anspress-container .bootstrap-tagsinput {
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px #fbfbfb inset;
  -moz-box-shadow: 0 0 2px #fbfbfb inset;
  box-shadow: 0 0 2px #fbfbfb inset;
  display: block;
  height: 40px;
  margin-bottom: 15px;
  padding: 5px 10px;
  width: 100%;
  line-height: 1.2;
}
.anspress-container .bootstrap-tagsinput.autogrow {
  overflow: hidden;
}
.anspress-container .bootstrap-tagsinput[type="checkbox"] {
  display: inline;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}
.anspress-container .bootstrap-tagsinput input {
  line-height: 20px;
  margin-top: 5px;
}
.anspress-container .ap-comment-block {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #eee;
  margin-top: 25px;
}
.anspress-container #respond {
  margin: 0;
}
.anspress-container .ap-comments .ap-commentlist {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.anspress-container .ap-comments .ap-commentlist > li {
  padding: 0;
  margin: 0;
}
.anspress-container .ap-comments .ap-commentlist article {
  border-color: #eee transparent transparent;
  border-image: none;
  border-right: medium none transparent;
  border-style: solid none none;
  border-width: 1px medium medium;
  margin: 0;
  padding: 10px;
}
.anspress-container .ap-comments .ap-commentlist .comment {
  border-top: 1px solid #eee;
  color: #777;
  margin-bottom: 0;
  padding: 10px;
}
.anspress-container .ap-comments .ap-commentlist .comment:first-child {
  border-bottom: none;
}
.anspress-container .ap-comments .ap-commentlist .comment .ap-avatar {
  margin-top: 3px;
}
.anspress-container .ap-comments .ap-commentlist .comment .ap-comment-time {
  margin-right: 10px;
}
.anspress-container .ap-comments .ap-commentlist .comment .ap-comment-action {
  margin-right: 5px;
  white-space: nowrap;
}
.anspress-container .ap-comments .ap-commentlist .comment .ap-comment-action a {
  text-decoration: none;
  color: #428bca;
}
.anspress-container .ap-comments .ap-commentlist .comment .ap-comment-action i {
  font-size: 10px;
}
.anspress-container .ap-comments .ap-commentlist .ap-comment-time {
  color: #777;
  margin-right: 10px;
}
.anspress-container .ap-comments .ap-commentlist .ap-comment-action {
  margin-left: 10px;
}
.anspress-container .ap-comment-form {
  padding: 10px;
}
.anspress-container .ap-comment-form form#ap-commentform {
  margin: 0;
}
.anspress-container .ap-comment-form #ap-comment-textarea {
  min-height: 42px;
  margin: 0;
}
.anspress-container .ap-comment-form .form-submit {
  display: none;
}
.anspress-container .ap-comment-form #submit {
  background: #11a7db;
  border-color: transparent transparent rgba(0, 0, 0, 0.1);
  border-image: none;
  border-radius: 2px;
  border-style: none none solid;
  border-width: medium medium 2px;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
}
.anspress-container .ap-comment-form #submit.ap-btn-blue {
  background: #11a7db;
  color: #ffffff;
}
.anspress-container .ap-comment-form #submit.ap-btn-blue:hover {
  border-color: #11a7db;
}
.anspress-container .ap-comment-form #submit.ap-btn-view-all {
  display: block;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
.anspress-container .ap-comment-form #submit:hover {
  text-decoration: none;
  border-color: transparent transparent #11a7db;
  color: #ffffff;
}
.anspress-container .ap-comment-form .ap-comment-submit {
  float: right;
  margin-left: 10px;
}
.anspress-container .ap-comment-form input[type="submit"] {
  background: #11a7db;
  border-color: transparent transparent rgba(0, 0, 0, 0.1);
  border-image: none;
  border-radius: 2px;
  border-style: none none solid;
  border-width: medium medium 2px;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
}
.anspress-container .ap-comment-form input[type="submit"].ap-btn-blue {
  background: #11a7db;
  color: #ffffff;
}
.anspress-container .ap-comment-form input[type="submit"].ap-btn-blue:hover {
  border-color: #11a7db;
}
.anspress-container .ap-comment-form input[type="submit"].ap-btn-view-all {
  display: block;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
.anspress-container .ap-comment-form input[type="submit"]:hover {
  text-decoration: none;
  border-color: transparent transparent #11a7db;
  color: #ffffff;
}
.anspress-container .ap-comment-form .ap-comment-textarea {
  overflow: hidden;
}
.anspress-container .ap-comment-form .comment-reply-title {
  display: none;
}
.ap-profile-lr .ap-profile-nav,
.ap-profile-lr .ap-profile-right {
  float: left;
}
.ap-profile-lr .ap-profile-nav {
  position: relative;
  width: 200px;
}
.ap-profile-lr .ap-profile-nav .ap-avatar-meta-c {
  margin: 0;
  padding: 0 0 20px;
}
.ap-profile-lr .ap-profile-nav .ap-big-avatar {
  display: table;
  margin: 0 auto 10px;
  position: relative;
}
.ap-profile-lr .ap-profile-nav .ap-big-avatar form {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 99;
}
.ap-profile-lr .ap-profile-nav .ap-big-avatar form .ap-upload-o {
  border-radius: 50%;
  color: #555;
  height: 35px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  width: 35px;
}
.ap-profile-lr .ap-profile-nav .ap-big-avatar img {
  border-radius: 2px;
}
.ap-profile-lr .ap-profile-nav .ap-user-name {
  color: #595959;
  display: block;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.ap-profile-lr .ap-profile-nav .ap-user-profile-meta {
  color: #888888;
}
.ap-profile-lr .ap-profile-nav .ap-user-profile-meta :before {
  margin-right: 10px;
}
.ap-profile-lr .ap-profile-right {
  margin-left: -200px;
  padding-left: 230px;
  width: 100%;
}
.ap-profile-lr .ap-user-menu {
  border: 1px solid #eee;
  border-radius: 3px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.ap-profile-lr .ap-user-menu li a {
  border-bottom: 1px solid #f9f9f9;
  color: #888888;
  display: block;
  font-size: 14px;
  padding: 14px 15px;
  text-decoration: none;
}
.ap-profile-lr .ap-user-menu li a:before {
  display: inline-block;
  margin-right: 15px;
  width: 16px;
}
.ap-profile-lr .ap-user-menu li.active > a {
  color: #595959;
  font-weight: 600;
}
.ap-profile-lr .ap-user-menu li:last-child a {
  border-bottom: none;
}
.ap-profile-box.ap-about-me {
  background: none repeat scroll 0 0 #f8f8f8;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  margin-top: 20px;
  padding: 15px;
}
.ap-profile-box.ap-about-me h3 {
  margin-top: 0;
}
.ap-profile-box.ap-about-me p:last-child {
  margin-bottom: 0;
}
.ap-profile-box .about-me {
  line-height: 28px;
}
.ap-answer-post {
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
}
.ap-answer-post:last-child {
  border-bottom: none;
}
.ap-answer-post .ap-title {
  color: #595959;
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
}
.ap-answer-post .ap-vote-count,
.ap-answer-post .ap-answer-count {
  border: 2px solid #9dd291;
  border-radius: 50%;
  color: #888888;
  display: block;
  float: left;
  font-size: 11px;
  height: 59px;
  line-height: 22px;
  margin-right: 20px;
  padding: 4px;
  text-align: center;
  text-transform: uppercase;
  width: 59px;
  text-decoration: none;
}
.ap-answer-post .ap-vote-count span,
.ap-answer-post .ap-answer-count span {
  color: #595959;
  display: block;
  font-size: 15px;
}
.ap-answer-post .ap-vote-count {
  border: 2px solid #5fcdf3;
}
.ap-answer-post .ap-answer-link {
  color: #777;
  line-height: 28px;
}
.ap-answer-post .ap-answer-link:hover {
  text-decoration: none;
  color: #595959;
}
.ap-profile-box-group > .ap-profile-box {
  float: left;
  width: 50%;
}
.ap-cover-bg {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 250px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.ap-cover-bg:hover .ap-upload-o {
  font-size: 40px;
  height: 45px;
  line-height: 54px;
  width: 55px;
}
.ap-upload-o {
  background: none repeat scroll 0 0 #fff;
  border-radius: 4px;
  display: block;
  float: right;
  font-size: 25px;
  height: 32px;
  line-height: 38px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 40px;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.ap-upload-o .ap-upload-input {
  cursor: pointer;
  font-size: 20px;
  height: 100%;
  margin: 0;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.ap-profile-right .ap-user-meta .ap-user-name {
  display: block;
  font-size: 40px;
  text-align: center;
}
.ap-user-counts {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.ap-user-counts li {
  border-right: 1px solid #eee;
  padding: 0 15px 0 0;
}
.ap-user-counts li:last-child {
  border-right: none;
}
.ap-user-counts a {
  color: #595959;
  display: block;
  font-size: 22px;
  min-width: 120px;
  padding: 10px;
  text-decoration: none;
}
.ap-user-counts a b {
  color: #11a7db;
  font-weight: 600;
  margin-right: 10px;
}
.ap-user-counts a span {
  text-transform: uppercase;
  font-weight: 300;
}
.ap-cpt-statics {
  border-left: 2px solid #11a7db;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 20px;
}
.ap-cpt-statics li {
  color: #aaa;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
}
.ap-cpt-statics li span {
  float: right;
}
#ap-notify {
  left: 10px;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  top: 125px;
  z-index: 9999;
}
#ap-notify .ap-notify-item {
  width: 320px;
  background: #ffffff;
  border: 2px solid #ddd;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  display: block;
  font-size: 15px;
  padding: 10px 15px;
  width: 300px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-left: -300px;
  position: relative;
  min-height: 20px;
}
#ap-notify .ap-notify-item.error {
  border-color: #eb5837;
}
#ap-notify .ap-notify-item.error i {
  background: #eb5837;
}
#ap-notify .ap-notify-item.success {
  border-color: #5db34a;
}
#ap-notify .ap-notify-item.success i {
  background: #5db34a;
}
#ap-notify .ap-notify-item.warning {
  border-color: #f4ac20;
}
#ap-notify .ap-notify-item.warning i {
  background: #f4ac20;
}
#ap-notify .ap-notify-item i {
  background: #eb5837;
  border-radius: 3px;
  color: #fff;
  display: block;
  float: left;
  font-size: 14px;
  height: 15px;
  line-height: 15px;
  margin-left: -5px;
  margin-right: 10px;
  padding: 3px;
  text-align: center;
  width: 15px;
}
.ap-widget-pos {
  margin-bottom: 25px;
}
.ap-stats-widget {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ap-stats-widget li {
  color: #888;
  margin: 0;
  padding: 5px 0;
}
.ap-stats-widget li .stat-value {
  float: right;
  font-weight: bold;
}
.ap-rq-widget .ap-rq-post {
  border-bottom: 1px solid #f7f7f7;
  color: #888;
  display: block;
  margin-bottom: 0;
  padding: 10px 0;
}
.ap-rq-widget .ap-rq-post a {
  margin-bottom: 5px;
  display: block;
}
.ap-questions-widget .ap-question-item {
  border-bottom: 1px solid #f8f8f8;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.ap-questions-widget .ap-question-title {
  display: block;
  margin-bottom: 5px;
}
.ap-cat-wid {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ap-cat-wid > li {
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 0;
}
.ap-cat-wid > li:last-child {
  border-bottom: none;
}
.ap-cat-wid > li > a {
  display: block;
  padding: 7px 2px;
}
.ap-cat-wid > li > a > span {
  float: right;
}
.ap-cat-wid > li > a > i {
  display: block;
  font-size: 13px;
  font-style: normal;
}
.ap-reputation-item {
  border-top: 1px solid #eee;
  padding: 12px 0;
}
.ap-reputation-item .point {
  background: none repeat scroll 0 0 #ff8d37;
  border-radius: 2px;
  color: #fff;
  display: block;
  float: left;
  height: 30px;
  line-height: 23px;
  margin-right: 15px;
  padding: 3px;
  text-align: center;
  width: 30px;
}
.ap-reputation-item .time {
  color: #8e8e8e;
  display: block;
  font-style: italic;
}
