.wp-block-anspress-questions {

	&-avatar {
		margin-right: 20px;

		img {}
	}

	&-items {}

	&-item {
		display: flex;
		justify-content: space-between;
		border-bottom: solid 1px #eee;
		padding: 10px 0;

		&:last-child {
			border-bottom: none;
		}
	}

	&-content {
		flex: 1;
	}

	&-counts {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 20px;
	}

	&-count {
		border: solid 1px #aaa;
		width: 50px;
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
		height: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-decoration: none;

		&:hover {
			background: #eee;
		}

		&:last-child {
			margin-left: 10px;
		}
	}

	&-link {
		text-decoration: none;
	}

	&-meta {
		font-size: 75%;
		color: #777;

		>div {
			display: inline;
			margin-right: 10px;
		}

		a {
			text-decoration: none;
		}
	}
}
