.wp-block-anspress-single-question {
	.anspress-apq-item-c {
		// padding-left: var(--anspress-single-question-avatar-size);
		position: relative;

		&::before {
			content: " ";
			border-left: solid 2px #ccc;
			height: 100%;
			position: absolute;
			left: calc(var(--anspress-single-question-line-left) + 16px);
			z-index: -1;
			top: 0;
		}
	}

	.anspress-subscribes {
		display: flex;
		margin-bottom: 20px;
		align-items: center;

		.anspress-subscriber-list {
			display: flex;
			padding-left: 10px;

			>* {
				height: 25px;
				width: 25px;
				background: #ddd;
				display: block;
				border-radius: 4px;
				margin-right: 5px;
				border: solid 1px rgba(0, 0, 0, 0.1);
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
			}

			.anspress-subscriber-count {
				background: #00d084;
				font-size: 12px;
				color: #fff;
				text-align: center;
				line-height: 2.3em;
			}
		}
	}
}

.anspress-apq-item {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	align-items: flex-start;

	&-avatar {
		margin-right: 10px;
		// margin-left: calc(var(--anspress-single-question-avatar-size) * -1);
	}

	&-select-link {
		background: #fff;
		text-decoration: none;
		border: solid 1px #00d084;
		border-radius: 3px;
		padding: 1px 6px;
		font-size: 12px;
		color: #00d084;
		margin-right: auto;
		margin-left: 15px;
		position: relative;

		&::before {
			margin-right: 5px;
			vertical-align: middle;
		}

		&:hover {
			background: #00d084;
			color: #fff;
		}

		&.anspress-apq-item-select-inactive {
			display: none;
		}
	}

	&-content {
		flex: 1;
	}

	&-metas {
		display: flex;
		padding: 10px 20px;
		font-size: 14px;
		border-bottom: solid 1px #ddde;

		>* {
			margin-right: 10px;
		}

		a {
			text-decoration: none;
		}
	}

	&-inner {
		margin: 10px 20px;

		img {
			max-width: 100%;
		}
	}

	&-vote {
		display: flex;

		>button {
			text-decoration: none;
			border: solid 1px #aaa;
			font-size: 13px;
			padding: 2px 5px;
			background: #fff;
			color: #666;
			border-radius: 4px;
			cursor: pointer;

			&:disabled {
				background: #f1f1f1;
				opacity: 0.5;
			}
		}
	}

	&-vcount {
		font-size: 14px;
		padding: 0 10px;
	}

	&-footer {
		padding: 10px 20px;
		display: flex;
		justify-content: space-between;
		border-top: solid 1px #ddd;
	}

	&-actions {
		font-size: 12px;

		a,
		anspress-link {
			margin-left: 10px;
			text-decoration: none;
		}
	}

	@keyframes count-animation {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.2);
		}

		100% {
			transform: scale(1);
		}
	}

	.animate-count {
		animation: count-animation 0.5s ease-in-out;
	}

	&-selected {
		.anspress-apq-item-qbody {
			border: solid 1px #00d084;
			background-color: #f2fffa;
		}
	}

	&-meta-badges {
		display: block;
		margin-right: 0;
		margin-left: auto;
		display: flex;

		>* {
			margin-left: 5px;
		}
	}

	&-single-answer-info {
		margin-bottom: 20px;
		padding: 10px;
		border: solid 1px #72aee6 !important;
		background: #d1e2f2 !important;
		margin-left: 15px;
	}

	&-answer-disabled {
		padding: 10px;
	}

	&-terms {
		&:last-child {
			margin-bottom: 30px;
		}

		a {
			margin-right: 10px;
			background: #eee;
			text-decoration: none;
			padding: 2px 5px;
			border-radius: 2px;
			font-size: 14px;
		}
	}

	&-tax-label {
		margin-right: 10px;
	}
}

.anspress- {
	&answer-form {
		padding: 15px;
		position: relative;

		textarea {
			width: 100%;
			height: 100px;
			box-sizing: border-box;
		}

		&-overlay-showing {
			textarea {
				display: none;
			}
		}
	}

	&load-more-answers {
		margin-left: calc(var(--anspress-single-question-avatar-size) + 14px);
	}

	&answers {
		&.anspress-answers-selected {
			.anspress-apq-item-select-link:not(.anspress-apq-item-select-active) {
				display: none;
			}

			.anspress-apq-item-selected-answer {
				display: inline-block;
			}
		}
	}

	&answer-form-c {
		margin-top: 20px;
	}
}


// Import the style.css from common/comments
@import "../../common/comments/style.scss";
