.wp-block-anspress-user-profile-nav {
	&-items {
		display: flex;
		margin-bottom: 20px;

		a {
			display: block;
			padding: 10px 20px;
			color: #333;
			text-decoration: none;

			font-weight: 500;
			transition: all 0.3s;

			&:hover {
				background-color: #eee;
			}

			&:last-child {
				border-right: none;
			}
		}

		.active-nav a {
			border: solid 1px;
		}
	}
}
