body {
	--anspress-featured-bg: 6, 147, 227;
	--anspress-solved-bg: 52, 199, 89;
	--anspress-closed-bg: 255, 81, 114;
	--anspress-moderate-bg: 240, 164, 58;
	--anspress-private-bg: 181, 91, 226;
	--anspress-white-bg: 255, 255, 255;
	--anspress-border-color: rgba(0, 0, 0, 0.25);
	--anspress-border-radius: 4px;
}

.anspress- {
	&pagination {
		display: flex;
		margin: 20px 0;

		&-page-item {

			>span,
			>a {
				display: block;
				padding: 5px 10px;
				margin: 0 5px;
				border: solid 1px;
			}

			a {
				text-decoration: none;

				&:hover {
					background: #eee;
				}
			}

			span.current {
				background: #eee;
			}
		}
	}

	&button {
		display: inline-block;
		border: solid 1px #888;
		padding: 5px 15px;
		background: #fff;
		text-decoration: none;
		border-radius: 4px;
		font-size: 14px;
		line-height: 1rem;

		&:hover {
			background: #eee;
		}

		&-loading-spinner {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: inherit;
			border: inherit;
			border-radius: inherit;
			z-index: 1;

			&::after {
				content: '';
				width: 1em;
				height: 1em;
				border: 2px solid #ccc;
				border-top-color: #333;
				border-radius: 50%;
				animation: anspress-spin 1s linear infinite;
			}
		}

		&-loading-content {
			visibility: hidden;
		}

		&-count {
			background: rgba(0, 0, 0, 0.1);
			padding: 0 5px;
			border-radius: 4px;
			font-size: 12px;
			margin-left: 5px;
		}

		&-active {
			background: #888;
			color: #fff;

			&:hover {
				background: #666;
			}
		}

		&-small {
			padding: 2px 10px;
			font-size: 12px;
		}
	}

	&snackbar-message {
		background-color: #333;
		color: white;
		padding: 16px;
		border-radius: 4px;
		opacity: 0;
		transform: translateY(100%);
		transition: opacity 0.3s, transform 0.3s;
		min-width: 200px;

		&.anspress-snackbar-success {
			background-color: #4caf50;
		}

		&.anspress-snackbar-error {
			background-color: #f44336;
		}

		&.anspress-snackbar-info {
			background-color: #2196f3;
		}

		&.anspress-snackbar-warning {
			background-color: #ff9800;
		}

		&.show {
			opacity: 1;
			transform: translateY(0);
			transition: 0.5s ease-in-out;
		}

		&.hide {
			opacity: 0;
			transform: translateY(100%);
			transition: 0.5s ease-in-out;
		}
	}

	&validation-error {
		color: red;
	}

	&form-group {
		margin-bottom: 15px;
	}

	&form-error {
		color: #ed4343;
		border: solid 1px #ed4343;
		padding: 4px 10px;
		margin-top: 5px;
		border-radius: 4px;
		background: #ed434312;
		font-size: 12px;
	}

	&form-help {
		font-size: 85%;
		margin-top: 10px;
		opacity: 0.7;
	}

	&form {
		position: relative;

		&-overlay {
			padding: 10px;

			&-showing {
				.anspress-form-groups {
					display: none;
				}
			}
		}

		&-submit-button {
			margin-top: 10px;
		}

		&-buttons {
			display: flex;
			justify-content: flex-end;
		}

		&-global-error {
			margin-bottom: 10px;
		}

		&-control {
			width: 100%;
			padding: 10px;
			border: solid 1px var(--anspress-border-color);
			border-radius: var(--anspress-border-radius);
			box-sizing: border-box;

		}
	}

	&load-more {
		&-count {
			padding: 2px;
			border-radius: 2px;
			font-size: 12px;
			background: #0693e3;
			color: #fff;
		}
	}

	&badge {
		padding: 1px 5px;
		font-size: 12px;
		border-radius: 3px;
		color: #fff;

		&-selected-answer {
			background: rgb(var(--anspress-solved-bg));
		}

		&-closed {
			background: rgb(var(--anspress-closed-bg));
		}

		&-featured {
			background: rgb(var(--anspress-featured-bg));
		}

		&-private_post {
			background: rgb(var(--anspress-private-bg));
		}

		&-moderate {
			background: rgb(var(--anspress-moderate-bg));
		}
	}

	&post-status {

		&-closed {
			--anspress-current-bg: rgba(var(--anspress-closed-bg), 0.05);
			--anspress-current-border-color: rgba(var(--anspress-closed-bg), 0.3);
		}

		&-moderate {
			--anspress-current-bg: rgba(var(--anspress-moderate-bg), 0.05);
			--anspress-current-border-color: rgba(var(--anspress-moderate-bg), 0.3);
		}

		&-private_post {
			--anspress-current-bg: rgba(var(--anspress-private-bg), 0.05);
			--anspress-current-border-color: rgba(var(--anspress-private-bg), 0.3);
		}

		&-featured {
			--anspress-current-bg: rgba(var(--anspress-featured-bg), 0.05);
			--anspress-current-border-color: rgba(var(--anspress-featured-bg), 0.3);
		}

		&-selected-answer {
			--anspress-current-bg: rgba(var(--anspress-solved-bg), 0.05);
			--anspress-current-border-color: rgba(var(--anspress-solved-bg), 0.3);
		}
	}

	&dropdown {
		position: relative;




		&-handle {
			cursor: pointer;
			display: block;
			padding: 5px 10px;

			&:hover {
				background: #ddd;
			}
		}

		&-dropdown {
			top: 0;
			left: 0;
			background: #fff;
			display: none;
			position: absolute;
			border: solid 1px var(--anspress-border-color);
			border-radius: 4px;
			overflow: hidden;
			font-size: 0.8rem;
			width: 200px;
			z-index: 99;
		}

		&-item {
			cursor: pointer;
			padding: 5px 10px;

			&:hover {
				background: #f9f9f9;
			}

			&s {
				overflow-y: auto;
				max-height: 300px;
			}

			&-selected {
				background: #eee;
			}
		}

		&-selection {
			display: inline-flex;
			border: solid 1px var(--anspress-border-color);
			font-size: 0.8rem;
			padding: 0px 8px;
			border-radius: 4px;
			cursor: pointer;
			margin-right: 10px;
		}

		&-removeitem {
			margin-left: 5px;
		}

		&-selections {}

		&-search {
			background: #eee;
			border-bottom: solid 1px var(--anspress-border-color);
			padding: 10px;

		}

		&-search-input {
			width: 100%;
			padding: 5px;
			border: solid 1px var(--anspress-border-color);
			border-radius: 4px;
			box-sizing: border-box;
			display: block;
		}

		&[as="field"] {
			.anspress-dropdown-handle {
				padding: 0;
			}

			.anspress-dropdown-search {
				padding: 0;
				background: none;
				border: none;
			}
		}
	}
}

textarea {
	&.anspress-form-control {
		width: 100%;
		height: 100px;
		box-sizing: border-box;
		padding: 10px;
	}
}

anspress-snackbar {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 300px;
}

.anspress-avatar-link {
	background: #ccc;
	padding: 2px;
	border-radius: 4px;

	img {
		display: block;
		border-radius: 4px;
	}


}

.anspress-avatar-shape-circle img {
	border-radius: 50%;
}

.anspress-card {
	background: #fff;
	border: solid 1px #ddd;
	border-radius: 4px;
}

anspress-link {
	cursor: pointer;
}

@keyframes anspress-glow {
	0% {
		background-color: rgba(255, 175, 175, 0.2);
	}

	50% {
		background-color: rgba(255, 175, 175, 0.6);
	}

	100% {
		background-color: rgba(255, 175, 175, 0.2);
	}
}

.anspress-glowing-red-background,
anspress-link.anspress-button-error {
	animation: anspress-glow 2s infinite;
}

@keyframes anspress-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.anspress-pagination {
	.page-link {
		@extend .anspress-button;
	}
}
