//
// Question lists style
// --------------------------------------------------
#anspress{
	.ap-questions{
		&-item{
			border-bottom: 1px solid rgba(0, 0, 0, 0.08);
			box-shadow: none;
			display: table;
			margin: 0;
			padding: 20px 5px;
			width: 100%;
			position: relative;
			&.status-private_post {
				background: #f4f6f8;
			}

			&.status-moderate {
				background: #fff8e1;
			}
			&.hentry{
				margin: 0;
				border-top:none;
			}
			&.status-trash{
				background: #fff6f7;
			}
		}
		&-history {
			margin-top: 5px;
		}
		.ap-avatar{
			margin-right: 20px;
			a{
				display: block;
			}
		}
		&-title{
			display: block;
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 5px;
			margin-top: 0;
			a{
				color: $link-color;
				text-decoration: none;
			}
		}
		&-count{
			display: block;
			float: left;
			text-transform: uppercase;
			font-size: 10px;
			margin-left: 10px;
			color: #999;
			border: solid 2px #eee;
			width: 70px;
			text-align: center;
			text-decoration: none;
			background: #fff;
			height: 45px;
			padding: 4px 0;
			border-radius: 2px;
			span{
				font-size: 13px;
				display: block;
				text-align: center;
				margin-bottom: 2px;
				font-weight: 600;
			}
		}

		&-acount{
			span{
			}
		}

		&-summery{
			padding-right: 10px;
		}
		.ap-display-meta-item {
			font-size: 13px;
			color: $meta-color;
			margin-right: 15px;
			a{
				color: $meta-color;
			}
			i:before{
				color: #aaa;
				font-size: 12px;
			}
		}
		.ap-post-type{
			display: inline;
			font-size: 11px;
			margin: 0;
			padding: 0 6px;
		}

		.ap-post-status {
			background: #ffd54f;
			font-size: 11px;
			font-weight: 400;
			margin-right: 5px;
			padding: 2px 5px;
			&.private_post{
				background: #78909c;
				color: #fff;
			}
			&.trash{
				background: #ef5350;
				color: #fff;
			}
		}
		.featured-question {
			background: #f5fdff;
		}
	}
	.ap-list-counts{
		float: right;
	}
	.ap-display-meta-item{
		i{
			font-style: normal;
		}
		[class^="apicon-"]::before, [class*=" apicon-"]::before{
			margin-right: 5px;
		}
	}
	.ap-list-head{
		background: #F5F5F5;
		border-radius: 3px;
		margin-bottom: 20px;
		margin-top: 10px;
		padding: 10px;
		.ap-btn-ask{
			background: #68bb67;
			border: 2px solid rgba(0, 0, 0, 0.2);
			border-radius: 2px;
			color: #fff;
			float: right;
			font-size: 13px;
			font-weight: bold;
			height: 36px;
			margin-left: 15px;
			padding: 6px 20px;
			&:visited{
				color: #fff;
			}
		}
	}
	.ap-filter{
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 3px;
		float: left;
		> .ap-dropdown, > a{
			display: block;
			margin: 0;
			width: auto;
			float:left;
		}
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				border-bottom: 1px solid #f4f4f4;
				list-style: outside none none;
				margin: 0;
				padding: 3px 20px;
				&:hover{
					background: #F9F9F9;
				}
				&.active{
					.apicon-check{
						visibility: visible;
					}
					a{
						background: none;
						font-weight: bold;
						color: #333;
					}
				}
			}
		}
		.ap-dropdown-menu{
			width: 260px;
		}
		.ap-dropdown-toggle{
			border-right: 1px solid #eee;
			display: block;
			font-size: 12px;
			font-weight: 600;
			height: 36px;
			line-height: 36px;
			padding: 0 15px;

			&.active{
				background: $main-color;
				color: #fff;
				margin: -1px;
				padding: 7px 10px;
			}
		}
		> *:first-child .ap-dropdown-toggle{
			border-radius: 2px 2px 0 0;
		}
		> *:last-child .ap-dropdown-toggle{
			border-right: none;
		}
		.ap-dropdown-menu{
			border: 1px solid #eeeeee;
			padding: 0;
			.apicon-check{
				float: left;
				font-size: 13px;
				height: 20px;
				margin-left: -8px;
				padding: 6px 0;
				visibility: hidden;
				width: 20px;
			}
			a{
				border: medium none;
				font-size: 12px;
				padding: 6px 0;
				color: #777;
				&:hover{
					background: none;
				}
			}
		}
		#ap-question-sorting-reset {
			color: #888;
			display: block;
			height: 36px;
			line-height: 38px;
			text-align: center;
			width: 36px;
		}
		&-search{
			border: 1px solid #ddd;
			font-size: 12px;
			padding: 8px;
			width: 100%;
		}
		&-swarp {
			background: #F9F9F9;
			border-bottom: 1px solid #e8e6e6;
			padding: 8px;
		}
		&-head{
			background: #f9f9f9;
			border-bottom: 1px solid #eee;
			font-size: 11px;
			font-weight: bold;
			padding: 6px 10px;
		}
		&-color {
			border-radius: 3px;
			display: block;
			float: left;
			height: 12px;
			margin-right: 8px;
			margin-top: 1px;
			width: 12px;
		}
	}
}
