//
// Question lists style
// --------------------------------------------------
#anspress{
	.ap-questions{
		&-item{
			border-bottom: 1px solid rgba(0, 0, 0, 0.08);
			box-shadow: none;
			display: table;
			margin: 0;
			padding: 20px 5px;
			width: 100%;
			position: relative;
			&.status-private_post {
				background: #f4f6f8;
			}

			&.status-moderate {
				background: #fff8e1;
			}
			&.hentry{
				margin: 0;
				border-top:none;
			}
			&.status-trash{
				background: #fff6f7;
			}
		}
		&-history {
			margin-top: 5px;
		}
		.ap-avatar{
			margin-right: 20px;
			a{
				display: block;
			}
		}
		&-title{
			display: block;
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 5px;
			margin-top: 0;
			a{
				color: $link-color;
				text-decoration: none;
			}
		}
		&-count{
			display: block;
			float: left;
			text-transform: uppercase;
			font-size: 10px;
			margin-left: 10px;
			color: #999;
			border: solid 2px #eee;
			width: 70px;
			text-align: center;
			text-decoration: none;
			background: #fff;
			height: 45px;
			padding: 4px 0;
			border-radius: 2px;
			span{
				font-size: 13px;
				display: block;
				text-align: center;
				margin-bottom: 2px;
				font-weight: 600;
			}
		}

		&-acount{
			span{
			}
		}

		&-summery{
			padding-right: 10px;
		}
		.ap-display-meta-item {
			font-size: 13px;
			color: $meta-color;
			margin-right: 15px;
			a{
				color: $meta-color;
			}
			i:before{
				color: #aaa;
				font-size: 12px;
			}
		}
		.ap-post-type{
			display: inline;
			font-size: 11px;
			margin: 0;
			padding: 0 6px;
		}

		.ap-post-status {
			background: #ffd54f;
			font-size: 11px;
			font-weight: 400;
			margin-right: 5px;
			padding: 2px 5px;
			&.private_post{
				background: #78909c;
				color: #fff;
			}
			&.trash{
				background: #ef5350;
				color: #fff;
			}
		}
		.featured-question {
			background: #f5fdff;
		}
	}
	.ap-list-counts{
		float: right;
	}
	.ap-display-meta-item{
		i{
			font-style: normal;
		}
		[class^="apicon-"]::before, [class*=" apicon-"]::before{
			margin-right: 5px;
		}
	}
	.ap-list-head{
		background: #F5F5F5;
		border-radius: 3px;
		margin-bottom: 20px;
		margin-top: 10px;
		padding: 10px;
		.ap-btn-ask{
			background: #68bb67;
			border: 2px solid rgba(0, 0, 0, 0.2);
			border-radius: 2px;
			color: #fff;
			float: right;
			font-size: 13px;
			font-weight: bold;
			height: 36px;
			margin-left: 15px;
			padding: 6px 20px;
			&:visited{
				color: #fff;
			}
		}
	}
	.ap-filter{
		&s .ap-dropdown{
			margin-right: 10px;
		}
		&-toggle{
			text-decoration: none;
			font-weight: bold;
			font-size: 13px;
		}
		&-active{
			background: #fff;
			border: solid 1px #ddd;
			padding: 2px 5px;
			border-radius: 2px;
			font-size: 12px;
			color: #777;
		}
	}
}
