#START BLOCK notifications #
<button class="ap-droptogg apicon-x"></button>
<div class="ap-noti-head">
  {{aplang.notifications}}
  <# if(total > 0) { #>
    <i class="ap-noti-unseen">{{total}}</i>
    <a href="#" class="ap-btn ap-btn-markall-read ap-btn-small" ap-ajax-btn ap-query="{{JSON.stringify(mark_args)}}">{{aplang.mark_all_seen}}</a>
  <# } #>
</div>
<div class="scroll-wrap"></div>
#END BLOCK notifications #

#START BLOCK notification #
<div class="noti-item clearfix {{seen==1 ? 'seen' : 'unseen'}}">
  <# if(ref_type === 'reputation') { #>
    <div class="ap-noti-rep">{{points}}</div>
  <# } else if(hide_actor) { #>
    <div class="ap-noti-icon {{icon}}"></div>
  <# } else { #>
    <div class="ap-noti-avatar">{{{avatar}}}</div>
  <# } #>
  <a class="ap-noti-inner" href="{{permalink}}">
    <# if(ref_type !== 'reputation'){ #>
    <strong class="ap-not-actor">{{actor}}</strong>
    <# } #>
    {{verb_label}}
    <strong class="ap-not-ref">{{ref_title}}</strong>
    <time class="ap-noti-date">{{date}}</time>
  </a>
</div>
#END BLOCK notification #
