#START BLOCK comment #
  <div class="ap-avatar">{{{avatar}}}</div>
  <div class="comment-inner">
    <div class="comment-header"><a href="{{user_link}}" class="ap-comment-author">{{user_name}}</a> {{aplang.commented}}
      <a href="{{link}}" class="ap-comment-time">
        <time datetime="{{iso_date}}">{{time}}</time>
      </a>
      <div class="ap-comment-actions">
        <# if(actions) { _.each(actions, function(action){ #>
          <a href="#" <# if(action.cb){ #>ap="{{action.cb}}"<# } else { #>ap="comment_action"<# } #> <# if(action.title){ #> title="{{action.title}}"<# } #><# if(action.query){ #> ap-query="{{JSON.stringify(action.query)}}"<# } #><# if(action.active){ #> class="active"<# } #>>
            {{action.label}}
            <# if(action.count){ #>
              <b>{{action.count}}</b>
            <# } #>
          </a>
        <# }); } #>
      </div>
    </div>
    <div class="comment-content">{{content}}</div>
  </div>
#END BLOCK comment #

#START BLOCK comment-form #
<form class="ap-comment-form clearfix" method="POST" id="ap-commentform" comment-form>
  <div class="ap-comment-inner">
    <textarea placeholder="{{aplang.your_comment}}" class="ap-form-control autogrow" id="ap-comment-textarea" aria-required="true" rows="4" name="content"></textarea>
    <div class="ap-comment-footer clearfix">
      <button type="submit" class="ap-comment-submit ap-btn ap-btn-medium"><# if(typeof comment_ID != 'undefined'){ #>{{aplang.update}}<# } else { #>{{aplang.comment}}<# } #></button>
      <button class="ap-btn ap-comment-cancel ap-btn-medium" type="button" ap="cancel-comment">{{aplang.cancel}}</button>
    </div>
  </div>
  <input type="hidden" name="__nonce" value="{{__nonce}}" />
  <input type="hidden" name="post_id" value="{{post_id}}" />
  <# if(typeof comment_ID != 'undefined'){ #>
    <input type="hidden" name="comment_ID" value="{{comment_ID}}" />
  <# } #>
  <input type="hidden" name="action" value="ap_ajax" />
  <input type="hidden" name="ap_ajax_action" value="{{ap_ajax_action}}" />
</form>
#END BLOCK comment-form #

#START BLOCK action #
  <# if(!header){ #>
    <a href="{{href}}" title="{{title}}">
      {{{prefix}}}{{label}}<# if(count){ #><b>{{count}}</b><# } #>
    </a>
  <# } else { #>
    {{label}}
  <# } #>
#END BLOCK action #

#START BLOCK modal #
<div class="ap-modal-body<# if(typeof size !== 'undefined'){ #> ap-modal-{{size}}<# } #>">
  <# if(typeof title !== 'undefined' ){ #>
    <div class="ap-modal-header">
      <h3>{{title}}</h3>
    </div>
  <# } #>
  <div class="ap-modal-content">
    <# if(typeof content !== 'undefined'){ #>
      {{{content}}}
    <# } #>
  </div>
  <div class="ap-modal-footer">
    <a href="#" close-modal>Close</a>
    <# if(typeof buttons !== 'undefined'){ #>
      <# _.each(buttons, function(btn){ #>
        <a class="ap-modal-btn <# if(typeof btn.class !== 'undefined') { #>{{btn.class}}<# } #>" href="#" <# if(typeof btn.cb !== 'undefined') { #>ap="{{btn.cb}}" ap-query="{{btn.query}}"<# } #>>{{btn.label}}</a>
      <# }); #>
    <# } #>
  </div>
</div>
<div class="ap-modal-backdrop"></div>
#END BLOCK modal #
