#START BLOCK comment #
  <div itemscope itemtype="http://schema.org/Comment">
    <div class="ap-avatar">{{{avatar}}}</div>
    <div class="comment-inner">
      <div class="comment-header">
        <a href="{{user_link}}" class="ap-comment-author" itemprop="creator" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{user_name}}</span></a> {{aplang.commented}}
        <a href="{{link}}" class="ap-comment-time">
          <time itemprop="dateCreated" datetime="{{iso_date}}">{{time}}</time>
        </a>
        <div class="ap-comment-actions">
          <# if(actions) { _.each(actions, function(action){ #>
            <a href="#" <# if(action.cb){ #>ap="{{action.cb}}"<# } else { #>ap="comment_action"<# } #> <# if(action.title){ #> title="{{action.title}}"<# } #><# if(action.query){ #> ap-query="{{JSON.stringify(action.query)}}"<# } #><# if(action.active){ #> class="active"<# } #>>
              {{action.label}}
              <# if(action.count){ #>
                <b>{{action.count}}</b>
              <# } #>
            </a>
          <# }); } #>
        </div>
      </div>
      <div class="comment-content" itemprop="text">{{content}}</div>
    </div>
  </div>
#END BLOCK comment #

#START BLOCK comment-no-permission #
<div class="ap-comment-no-perm">
  {{{msg}}}
</div>
#END BLOCK comment-no-permission #

#START BLOCK action #
  <# if(!header){ #>
    <a href="{{href}}" title="{{title}}">
      {{{prefix}}}{{label}}<# if(count){ #><b>{{count}}</b><# } #>
    </a>
  <# } else { #>
    {{label}}
  <# } #>
#END BLOCK action #