<div id="{{id}}_card" style="display:none">
	<div class="ap-card-content">		
		<div class="ap-card-header clearfix">
			<div class="ap-avatar">
				<a href="{{profile_link}}">{{avatar|raw}}</a>
			</div>
			<div class="no-overflow">
				<a href="{{profile_link}}" class="ap-card-name">{{name}}</a>
				<a href="{{profile_link}}" class="ap-card-mention">{{mention}}</a>
				<span class="ap-card-desc">{{signature}}</span>
				<span class="ap-card-active">{{active}}</span>
			</div>
		</div>
		<div class="ap-card-stats clearfix">
			{{foreach stat in stats}}
			<div class="stat">
				<span><b>{{stat.count}}</b> {{stat.label}}</span>
			</div>
			{{end}}
		</div>
	</div>
</div>
