.clearfix:before,
.clearfix:after
{
    display: table;
    clear: both;

    content: ' ';
}

.wp-list-table th#asker,
.wp-list-table th#answerer
{
    width: 60px;
}

.wp-list-table th#answers
{
    width: 30px;
}
.wp-list-table th#question_category,
.wp-list-table th#question_tags
{
    width: 100px;
}
.wp-list-table th#vote
{
    width: 60px;
}

.wp-list-table th#status
{
    width: 60px;
}

.wp-list-table th#parent_question
{
    width: 30%;
}
.wp-list-table th#flag
{
    width: 40px;
}
th.column-question_status
{
    width: 50px;
}
td.column-vote_note strong,
td.column-post_title > a
{
    font-size: 14px;

    display: block;

    margin-bottom: .2em;
}

.question-status
{
    font-size: 11px;

    display: block;

    padding: 1px 5px;

    text-align: center;

    color: #fff;
    border-radius: 3px;
    background: #ddd;
}

.question-status.open
{
    background: #8fc61b;
}
.question-status.duplicate
{
    background: #f7ba36;
}
.question-status.publish
{
    background: #00bfdd;
}
.question-status.solved
{
    background: #4ac1ff;
}
.question-status.closed
{
    background: #f64d55;
}




.wp-list-table .type-question .ans-count
{
    display: block;

    padding: 2px 0;

    text-align: center;
}
.wp-list-table .vote-count
{
    text-align: center;
}


.wp-list-table .type-answer .answerer
{
    width: 50px;
}

.form-table .flag-note
{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.wp-list-table .flag-count,
.wp-list-table .flag-count
{
    display: block;

    width: 21px;
    margin-top: 6px;
    padding: 2px 0;

    text-align: center;

    color: #fff;
    border-radius: 3px;
    background: #ddd;
}
.wp-list-table .flag-count.flagged,
.wp-list-table .flag-count.flagged
{
    background: #ec5858;
}


/* Option Tabs */
.anspress-options {
    margin-top: 30px;
}
#ap_opt_nav
{
    float: left;
    margin-bottom: 0;
    margin-right: -1px;
    margin-top: 15px;
    width: 165px;
}

#ap_opt_nav li
{
    margin-bottom: 0;
}
#ap_opt_nav li.active a
{
    color: #666;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 3px solid #43bdff;
    background: none repeat scroll 0 0 #fff;
}

#ap_opt_nav li a {
    color: #555;
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 15px;
    text-decoration: none;
}

.tab-content
{
    overflow: hidden;

    max-width: 700px;
    min-height: 429px;
    margin-top: -2px;
    padding: 5px 15px;

    border: 1px solid #ddd;
    border-radius: 2px;
    background: none repeat scroll 0 0 #fff;
}
.tab-content input[type='text'],
.tab-content input[type='number'],
.tab-content select,
.tab-content textarea
{
    height: 36px;
    padding: 2px 6px;

    border: 1px solid #e7e7e7;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .02) inset;
}
.tab-content textarea
{
    height: auto;
}

.tab-content .tab-pane.active
{
    display: block;
}


.ap-option-section
{
    margin: 5px 0 0;
    padding: 10px 0;

    border-bottom: 1px dotted #eee;
}

th.column-category
{
    width: 100px;
}

#ap_flag_meta_box .flag-item,
#ap_answers_meta_box .answer
{
    margin-bottom: 5px;
    padding-bottom: 5px;

    border-bottom: 1px solid #eee;
}
#ap_flag_meta_box .flag-item:last-child,
#ap_answers_meta_box .answer:last-child
{
    border-bottom: none;
}
#ap_flag_meta_box .flagger,
#ap_answers_meta_box .author
{
    float: left;

    width: 200px;
    margin-top: 4px;
    margin-right: 5px;
}
#ap_flag_meta_box .flag-message strong
{
    display: block;
}
#ap_flag_meta_box .flag-item:hover .row-actions,
#ap_answers_meta_box .answer:hover .row-actions
{
    visibility: visible;
}

#ap_flag_meta_box .flag-item  .flag-message,
#ap_answers_meta_box .answer .answer-content
{
    overflow: hidden;
}
.ap-label-color-field .wp-picker-container
{
    position: absolute;
}
.get-support
{
    margin-bottom: 20px;
}

#anspress-points-table .column-points .point
{
    font-weight: bold;

    display: table;

    padding: 0 5px;

    text-align: center;

    color: #fff;
    border-radius: 2px;
    background: #419efd;
}
#anspress-points-table .column-points .point.negative
{
    background: #f45a5a;
}
#ap-point-edit
{
    padding: 0 15px;

    border: 1px solid #ddd;
    background: #fff;
}
#ap-point-edit .button-primary
{
    margin-bottom: 10px;
}
.addon-count
{
    font-size: 16px;
    line-height: 22px;

    display: inline-block;

    width: 25px;
    height: 25px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: none repeat scroll 0 0 #333;
}
.ap-addon-status
{
    position: absolute;
    z-index: 9;
    top: 5px;

    padding: 5px 14px 5px 10px;

    color: #fff;
    background: none repeat scroll 0 0 rgba(0, 0, 0, .7);
}
.ap-install > h2
{
    margin-bottom: 20px;
    padding: 0;

    text-align: center;
}
.ap-install > h2 > *
{
    display: block;
}

.ap-install-indi
{
    position: absolute;
    left: 50%;

    display: block;

    width: 10px;
    height: 170px;
    margin-top: 35px;
    margin-left: -5px;

    content: '';
    transition: all 1s ease 0s;

    border-radius: 10px;
    background: none repeat scroll 0 0 #fff;
}

.ap-install-indi > span
{
    display: block;

    width: 10px;
    height: 0;

    transition: all .5s ease 0s;

    background: none repeat scroll 0 0 #49c742;
}
.ap-install-box
{
    position: relative;

    display: block;
    overflow: hidden;

    height: 300px;
    margin: 0 auto;

    border: 1px solid #eee;
    border-radius: 4px;
    background: none repeat scroll 0 0 #fbfbfb;
}
.ap-start-installation
{
    position: relative;

    display: table;

    margin: 0 auto 30px;
    padding: 12px 30px;

    cursor: pointer;

    color: #fff;
    border: medium none;
    border-radius: 3px;
    background: none repeat scroll 0 0 #ff8041;
}

.ap-install-steps
{
    position: absolute;

    width: 3010px;
    margin: 0;

    transition: all 1s ease 0s;
}
.ap-install-steps > li
{
    display: block;
    float: left;

    width: 480px;
    height: 300px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 10px;

    text-align: center;
}
.ap-install-steps li a,
.ap-install-steps .twitter-button
{
    font-size: 17px;

    display: block;

    margin-bottom: 15px;
    padding: 15px;

    text-align: center;
    text-decoration: none;
}
.ap-install-steps li:last-child a
{
    margin: 0;
}
.ap-install-steps li .done
{
    transition: all .5s ease 0s;

    color: #fff;
    background: #49c742;
}
.install-popup
{
    padding: 10px;

    border-radius: 8px;
    background: none repeat scroll 0 0 #fff;
}
.install-popup select
{
    display: table;

    margin: 0 auto;
}
.ap-continue
{
    display: block;

    margin: 0 auto;
    padding: 1px 10px;

    color: #fff;
    border: medium none;
    border-radius: 2px;
    background: none repeat scroll 0 0 #49c742;
}

.twitter-button > small
{
    font-size: 12px;

    display: block;

    margin-top: 6px;
}
.escape_install
{
    display: block;

    text-align: center;
}

.badge-type
{
    display: block;

    width: 50px;
    padding: 1px 6px;

    text-align: center;

    color: #fff;
    border-radius: 2px;
    background: none repeat scroll 0 0 #ddd;
}
.badge-type.badge-gold
{
    background: #ffc250;
}
.badge-type.badge-silver
{
    background: #d6d6da;
}
.badge-type.badge-bronze
{
    background: #c26f27;
}

.ap-group-options
{
    display: block;
    overflow: hidden;

    max-width: 800px;
    min-height: 300px;
    padding: 20px;

    border: 1px solid #ddd;
    border-radius: 2px;
    background: none repeat scroll 0 0 #fff;
}
.ap-form-label {
    display: block;
    float: left;
    font-size: 13px;
    width: 250px;
}
.ap-form-fields {
    margin-bottom: 15px;
    padding: 10px;
}

button.ap-submit-btn {
    background: none repeat scroll 0 0 #43caff;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 8px 20px;
}
.ap-form-separator {
    border-bottom: 1px solid #eee;
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: uppercase;
}
.ap-reapt-field-copy{
    display: none;
}

.ap-repeatbable-field {
    overflow: hidden;
}
.ap-repeatbable-field > div{
    margin-bottom:10px;
}
.ap-repeatbable-field .ap-form-control {
    width: 100%;
}