//
// Users styles
// --------------------------------------------------
.anspress{

}
.ap-user-reputation {
  margin-left: 5px;
  background: #FFC107;
  padding: 1px 4px;
  font-size: 11px;
  border-radius: 2px;
  font-weight: bold;
  margin-right: 5px;
  vertical-align: text-bottom;
}