//--------------------------
// Categories styles
//-------------------------
#ap-categories {
}
#anspress {
  .ap-term-category-box {
    list-style: outside none none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
    >li {
      margin: 0;
      padding: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 33.33%;
      min-width: 280px;
    }
  }
  .ap-category-item {
    .ap-cat-img-c .ap-category-icon {
      color: #fff;
      width: 50px;
      font-size: 35px;
      height: 50px;
      text-align: center;
    }
  }
  .ap-cat-img-c {
    position: relative;
    .ap-category-icon {
      left: 50%;
      margin-left: -20px;
      margin-top: -20px;
      position: absolute;
      top: 50%;
    }
  }
  .ap-term-count {
    background: #333 none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 7px;
    position: absolute;
    right: 0;
  }
  .ap-sub-category {
    color: #888;
    float: right;
    font-size: 13px;
    text-align: right;
  }
  .ap-term-title {
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
  }
  .ap-taxo-description {
    font-size: 13px;
    line-height: 1.4;
    margin-top: 5px;
  }
  .ap-category-image {
    box-shadow: none;
    max-height: 114px;
  }
  .sub-taxo-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .ap-category-subitems {
    margin-bottom: 30px;
    li {
      a {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ddd;
        border-radius: 3px;
        display: block;
        font-size: 12px;
        font-weight: bold;
        padding: 5px 15px;
        text-decoration: none;
        span {
          margin-left: 3px;
        }
        &:hover {
          border-color: $border-color;
        }
      }
    }
  }
  .ap-taxo-detail {
    background: none repeat scroll 0 0 #f8f8f8;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 15px 20px;
    .entry-title {
      font-size: 25px;
      font-weight: bold;
    }
    .ap-tax-count {
      background: #333 none repeat scroll 0 0;
      border-radius: 3px;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      padding: 4px 7px;
      vertical-align: super;
    }
    .ap-category-icon {
      width: 50px;
      height: 50px;
      color: #fff;
      font-size: 35px;
      text-align: center;
      border-radius: 2px;
    }
    .ap-taxo-description {
      font-size: 18px;
      line-height: inherit;
      margin-bottom: 0;
    }
    .ap-term-sub {
      margin-top: 20px;
    }
    .ap-sub-taxo {
      margin: 0;
    }
    .ap-category-icon {
      display: block;
      margin-right: 20px;
      margin-top: 5px;
    }
    .ap-subscribe-btn {
      margin-top: 4px;
      float: right;
    }
  }
  .ap-categories-feat {
    display: block;
    overflow: hidden;
    img {
      border-radius: 2px;
      box-shadow: none;
      display: block;
      height: auto;
      width: 100%;
    }
  }
  .ap-category-feat {
    border-radius: 5px;
    margin-bottom: 25px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

//--------------------------
// Categories widget
//-------------------------
#ap-categories-widget.ap-cat-wid {
  list-style: none;
  padding: 0;
  margin: 0;
  >li {
    border-bottom: 1px solid #f1f1f1;
    margin: 0;
    padding: 7px 0;
    &:last-child {
      border-bottom: none;
    }
    a {
      display: block;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 2px;
      padding: 0;
    }
    .ap-cat-count {
      color: #888;
      font-size: 12px;
      span:first-child {
        margin-right: 5px;
      }
    }
    .ap-cat-image {
      float: right;
      position: relative;
      border-radius: 2px;
      .ap-category-icon {
        color: rgba(255, 255, 255, .97);
        display: block;
        font-size: 16px;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -8px;
        margin-top: -8px;
        line-height: 100%;
        text-align: center;
        width: 16px;
      }
    }
  }
}