$icomoon-font-path: "fonts" !default;

$apicon-x: "\e92e";
$apicon-dots: "\e94a";
$apicon-check: "\e903";
$apicon-chevron-down: "\e93d";
$apicon-chevron-up: "\e93e";
$apicon-chevron-right: "\e93f";
$apicon-chevron-left: "\e940";
$apicon-file-image-o: "\e904";
$apicon-file-excel-o: "\e912";
$apicon-file-code-o: "\e942";
$apicon-file-movie-o: "\e943";
$apicon-file-audio-o: "\e944";
$apicon-file-archive-o: "\e945";
$apicon-file-word-o: "\e946";
$apicon-file-pdf-o: "\e947";
$apicon-file-text-o: "\e948";
$apicon-file-powerpoint-o: "\e949";
$apicon-google-plus-square: "\e92f";
$apicon-twitter-square: "\e930";
$apicon-facebook-square: "\e931";
$apicon-toggle-on: "\e932";
$apicon-toggle-off: "\e933";
$apicon-image: "\e934";
$apicon-category: "\e935";
$apicon-tag: "\e936";
$apicon-comments: "\e937";
$apicon-anspress: "\e92d";
$apicon-anspress-icon: "\e941";
$apicon-pencil: "\e905";
$apicon-users: "\e906";
$apicon-user-check: "\e907";
$apicon-user-minus: "\e908";
$apicon-user-plus: "\e909";
$apicon-user: "\e90a";
$apicon-profile: "\e90b";
$apicon-reputation: "\e90c";
$apicon-screen-normal: "\e90d";
$apicon-screen-full: "\e90e";
$apicon-alert: "\e90f";
$apicon-bug: "\e910";
$apicon-calendar: "\e911";
$apicon-clock: "\e913";
$apicon-cloud-upload: "\e914";
$apicon-ellipsis: "\e915";
$apicon-eye: "\e916";
$apicon-gear: "\e917";
$apicon-gist-secret: "\e918";
$apicon-globe: "\e919";
$apicon-heart: "\e91a";
$apicon-link: "\e91b";
$apicon-lock: "\e91c";
$apicon-mail: "\e91d";
$apicon-mail-read: "\e91e";
$apicon-mark-github: "\e91f";
$apicon-mention: "\e920";
$apicon-mortar-board: "\e921";
$apicon-mute: "\e922";
$apicon-pin: "\e923";
$apicon-plus: "\e924";
$apicon-pulse: "\e925";
$apicon-puzzle: "\e926";
$apicon-rss: "\e927";
$apicon-search: "\e928";
$apicon-star: "\e929";
$apicon-stop: "\e92a";
$apicon-sync: "\e92b";
$apicon-trashcan: "\e92c";
$apicon-flag: "\e902";
$apicon-answer: "\e900";
$apicon-question: "\e901";
$apicon-home: "\e939";
$apicon-thumbs-up-down: "\e93a";
$apicon-thumb-up: "\e93b";
$apicon-thumb-down: "\e93c";
$apicon-board: "\e938";
$apicon-bell-slash: "\e94b";
$apicon-bell: "\e94c";

@font-face {
  font-family: 'anspress';
  src:  url('#{$icomoon-font-path}/anspress.eot?sit72p');
  src:  url('#{$icomoon-font-path}/anspress.eot?sit72p#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/anspress.ttf?sit72p') format('truetype'),
    url('#{$icomoon-font-path}/anspress.woff?sit72p') format('woff'),
    url('#{$icomoon-font-path}/anspress.svg?sit72p#anspress') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="apicon-"]:before, [class*=" apicon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'anspress' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.apicon-bell-slash {
  &:before {
    content: $apicon-bell-slash;
  }
}
.apicon-bell {
  &:before {
    content: $apicon-bell;
  }
}
.apicon-x {
  &:before {
    content: $apicon-x;
  }
}
.apicon-dots {
  &:before {
    content: $apicon-dots;
  }
}
.apicon-check {
  &:before {
    content: $apicon-check;
  }
}
.apicon-chevron-down {
  &:before {
    content: $apicon-chevron-down;
  }
}
.apicon-chevron-up {
  &:before {
    content: $apicon-chevron-up;
  }
}
.apicon-chevron-right {
  &:before {
    content: $apicon-chevron-right;
  }
}
.apicon-chevron-left {
  &:before {
    content: $apicon-chevron-left;
  }
}
.apicon-file-image-o {
  &:before {
    content: $apicon-file-image-o;
  }
}
.apicon-file-excel-o {
  &:before {
    content: $apicon-file-excel-o;
  }
}
.apicon-file-code-o {
  &:before {
    content: $apicon-file-code-o;
  }
}
.apicon-file-movie-o {
  &:before {
    content: $apicon-file-movie-o;
  }
}
.apicon-file-audio-o {
  &:before {
    content: $apicon-file-audio-o;
  }
}
.apicon-file-archive-o {
  &:before {
    content: $apicon-file-archive-o;
  }
}
.apicon-file-word-o {
  &:before {
    content: $apicon-file-word-o;
  }
}
.apicon-file-pdf-o {
  &:before {
    content: $apicon-file-pdf-o;
  }
}
.apicon-file-text-o {
  &:before {
    content: $apicon-file-text-o;
  }
}
.apicon-file-powerpoint-o {
  &:before {
    content: $apicon-file-powerpoint-o;
  }
}
.apicon-google-plus-square {
  &:before {
    content: $apicon-google-plus-square;
  }
}
.apicon-twitter-square {
  &:before {
    content: $apicon-twitter-square;
  }
}
.apicon-facebook-square {
  &:before {
    content: $apicon-facebook-square;
  }
}
.apicon-toggle-on {
  &:before {
    content: $apicon-toggle-on;
  }
}
.apicon-toggle-off {
  &:before {
    content: $apicon-toggle-off;
  }
}
.apicon-image {
  &:before {
    content: $apicon-image;
  }
}
.apicon-category {
  &:before {
    content: $apicon-category;
  }
}
.apicon-tag {
  &:before {
    content: $apicon-tag;
  }
}
.apicon-comments {
  &:before {
    content: $apicon-comments;
  }
}
.apicon-anspress {
  &:before {
    content: $apicon-anspress;
  }
}
.apicon-anspress-icon {
  &:before {
    content: $apicon-anspress-icon;
  }
}
.apicon-pencil {
  &:before {
    content: $apicon-pencil;
  }
}
.apicon-users {
  &:before {
    content: $apicon-users;
  }
}
.apicon-user-check {
  &:before {
    content: $apicon-user-check;
  }
}
.apicon-user-minus {
  &:before {
    content: $apicon-user-minus;
  }
}
.apicon-user-plus {
  &:before {
    content: $apicon-user-plus;
  }
}
.apicon-user {
  &:before {
    content: $apicon-user;
  }
}
.apicon-profile {
  &:before {
    content: $apicon-profile;
  }
}
.apicon-reputation {
  &:before {
    content: $apicon-reputation;
  }
}
.apicon-screen-normal {
  &:before {
    content: $apicon-screen-normal;
  }
}
.apicon-screen-full {
  &:before {
    content: $apicon-screen-full;
  }
}
.apicon-alert {
  &:before {
    content: $apicon-alert;
  }
}
.apicon-bug {
  &:before {
    content: $apicon-bug;
  }
}
.apicon-calendar {
  &:before {
    content: $apicon-calendar;
  }
}
.apicon-clock {
  &:before {
    content: $apicon-clock;
  }
}
.apicon-cloud-upload {
  &:before {
    content: $apicon-cloud-upload;
  }
}
.apicon-ellipsis {
  &:before {
    content: $apicon-ellipsis;
  }
}
.apicon-eye {
  &:before {
    content: $apicon-eye;
  }
}
.apicon-gear {
  &:before {
    content: $apicon-gear;
  }
}
.apicon-gist-secret {
  &:before {
    content: $apicon-gist-secret;
  }
}
.apicon-globe {
  &:before {
    content: $apicon-globe;
  }
}
.apicon-heart {
  &:before {
    content: $apicon-heart;
  }
}
.apicon-link {
  &:before {
    content: $apicon-link;
  }
}
.apicon-lock {
  &:before {
    content: $apicon-lock;
  }
}
.apicon-mail {
  &:before {
    content: $apicon-mail;
  }
}
.apicon-mail-read {
  &:before {
    content: $apicon-mail-read;
  }
}
.apicon-mark-github {
  &:before {
    content: $apicon-mark-github;
  }
}
.apicon-mention {
  &:before {
    content: $apicon-mention;
  }
}
.apicon-mortar-board {
  &:before {
    content: $apicon-mortar-board;
  }
}
.apicon-mute {
  &:before {
    content: $apicon-mute;
  }
}
.apicon-pin {
  &:before {
    content: $apicon-pin;
  }
}
.apicon-plus {
  &:before {
    content: $apicon-plus;
  }
}
.apicon-pulse {
  &:before {
    content: $apicon-pulse;
  }
}
.apicon-puzzle {
  &:before {
    content: $apicon-puzzle;
  }
}
.apicon-rss {
  &:before {
    content: $apicon-rss;
  }
}
.apicon-search {
  &:before {
    content: $apicon-search;
  }
}
.apicon-star {
  &:before {
    content: $apicon-star;
  }
}
.apicon-stop {
  &:before {
    content: $apicon-stop;
  }
}
.apicon-sync {
  &:before {
    content: $apicon-sync;
  }
}
.apicon-trashcan {
  &:before {
    content: $apicon-trashcan;
  }
}
.apicon-flag {
  &:before {
    content: $apicon-flag;
  }
}
.apicon-answer {
  &:before {
    content: $apicon-answer;
  }
}
.apicon-question {
  &:before {
    content: $apicon-question;
  }
}
.apicon-home {
  &:before {
    content: $apicon-home;
  }
}
.apicon-thumbs-up-down {
  &:before {
    content: $apicon-thumbs-up-down;
  }
}
.apicon-thumb-up {
  &:before {
    content: $apicon-thumb-up;
  }
}
.apicon-thumb-down {
  &:before {
    content: $apicon-thumb-down;
  }
}
.apicon-board {
  &:before {
    content: $apicon-board;
  }
}

