//
// Question lists style
// --------------------------------------------------
#anspress{
	.ap-questions{
    border: solid 1px #eee;
		&-item{
			border-bottom: 1px solid rgba(0, 0, 0, 0.08);
			box-shadow: none;
			display: table;
			margin: 0;
			padding: 15px 15px;
			width: 100%;
			position: relative;
			&.status-private_post {
				background: #f4f6f8;
			}

			&.status-moderate {
				background: #fff8e1;
			}
			&.hentry{
				margin: 0;
				border-top:none;
			}
			&.status-trash{
				background: #fff6f7;
			}
		}
		&-history {
			margin-top: 5px;
		}
		.ap-avatar{
			margin-right: 20px;
			a{
				display: block;
			}
		}
		&-title{
			display: block;
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 5px;
			margin-top: 0;
			a{
				text-decoration: none;
				color: #333;
			}
		}
		&-count{
			background: #fff;
			display: block;
			float: left;
			text-transform: lowercase;
			font-size: 11px;
			margin-left: 15px;
			color: #777;
			text-align: center;
			text-decoration: none;
			border: solid 1px #ddd;
			border-radius: 2px;
			span{
				border-bottom: solid 1px #ddd;
				width: 50px;
				font-size: 13px;
				display: block;
				text-align: center;
				font-weight: 600;
				padding: 6px 0;
				height: 29px;
				margin-bottom: 1px;
			}
			&.ap-questions-acount {
				border-color: $color1;
			}
		}

		&-summery{
			padding-right: 10px;
			margin-right: 130px;
			margin-left: 65px;
		}
		.ap-display-meta-item {
			font-size: 12px;
			color: $color4;
			margin-right: 15px;
			a{
				color: $color4;
			}
			i:before{
				color: #aaa;
				font-size: 12px;
			}
		}
		.ap-post-type{
			display: inline;
			font-size: 11px;
			margin: 0;
			padding: 0 6px;
		}

		.ap-post-status {
			background: #ffd54f;
			font-size: 11px;
			font-weight: 400;
			margin-right: 5px;
			padding: 2px 5px;
			&.private_post{
				background: #78909c;
				color: #fff;
			}
			&.trash{
				background: #ef5350;
				color: #fff;
			}
		}
		.featured-question {
			background: #f5fdff;
		}
	}
	.ap-list-counts{
		float: right;
	}
	.ap-display-meta-item{
		i{
			font-style: normal;
		}
		[class^="apicon-"]::before, [class*=" apicon-"]::before{
			margin-right: 5px;
		}
	}
	.ap-list-head{
		padding: 15px 15px 5px 15px;
		border: solid 1px #ddd;
		margin-bottom: 10px;
		.ap-btn-ask{
			background: $color1;
			border-radius: 2px;
			color: #fff;
			float: right;
			font-size: 14px;
			font-weight: bold;
			height: 36px;
			margin-left: 15px;
			padding: 7px 20px;
			text-decoration: none;
			&:visited{
				color: #fff;
			}
		}
		.ap-filters {
			margin-top: 15px;
		}
	}
	.ap-filter{
		&s .ap-dropdown{
			margin-right: 15px;
			float: left;
			display: block;
			&-menu{
				min-width: 140px;
			}
		}
		&-toggle{
			color: $color1;
			text-decoration: none;
			font-weight: bold;
			font-size: 13px;
			padding: 0;
			display: block;
		}
		&-active{
			font-weight: normal;
			color: $color5;
		}
		input[type="checkbox"],input[type="radio"]{
			display: none;
		}

		label{
			display: block;
			padding: 4px;
    		font-size: 12px;
			i{
				color: #fff;
				border-radius: 2px;
				margin-right: 10px;
				background: #eee;
				height: 16px;
				display: block;
				float: left;
				padding: 1px;
				font-size: 10px;
				width: 16px;
				text-align: center;
				line-height: 16px;
				&[class^="apicon-"]:before, [class*=" apicon-"]:before{
					visibility: hidden;
				}
			}
			.ap-label-color {
				display: inline-block;
				width: 8px;
				height: 8px;
				border-radius: 2px;
				margin-left: 5px;
			}
		}
		li{
			padding: 0 5px;
		}
		input[type="checkbox"]:checked + .apicon-check, input[type="radio"]:checked + .apicon-check{
			background: $color1;
			&[class^="apicon-"]:before, [class*=" apicon-"]:before{
				visibility: visible;
			}
		}
		&-search{
			padding: 7px 10px;
			border-bottom: solid 1px #ddd;
			border-radius: 2px 2px 0 0;
			margin-bottom: 5px;
			margin-top: -4px;
			background: #f7f7f7;
		}
	}
	#ap-filter-reset {
		background: none;
		border: none;
		padding: 3px;
		color: #888;
		display: block;

		&:focus, &:active{
			outline: none;
		}
		i{
			display: block;
			float: left;
			font-size: 14px;
			margin-right: 4px;
		}
	}

	.ap-pagging-warning {
    background: #FFF8E1;
    text-align: center;
    font-size: 11px;
    border: 1px solid #FFE082;
    padding: 5px;
    border-radius: 2px;
		margin-top: 15px;
	}
	.ap-no-questions{
    background: #eee;
    text-align: center;
    padding: 10px;
		border-radius: 3px;
		margin-bottom: 0;
		margin-top: 20px;
	}
}

.ap-droptogg{
	float: right;
	background: #eee;
	border: none;
	color: #777;
	margin-right: 8px;
	padding: 4px 8px;
	display: none;
}
