@import "variables";
@import "mixins";

:root {
  // Custom variable values only support SassScript inside `#{}`.
  @each $key, $value in $anspress-vars {
    --ap_#{$key}: #{$value};
  }
}

@import "reset";
@import "list";
@import "tip";
@import "question";
@import "buttons";
@import "form";
@import "comment";
@import "user";
@import "widget";
@import "user-posts";
@import "dropdown";
@import "sticky";
@import "breadcrumbs";
@import "modal";
@import "hover_card";
@import "ask";
@import "embed-question";
@import "responsive";
@import "snackbar";
@import "category";
@import "tag";
@import "buddypress";
@import "reputations";
@import "reputations";
@import "notifications";
@import "activity";
@import "alert";
