#anspress{
	.ap-user-posts{
		h3{
			border-bottom: 2px solid #eee;
			margin-bottom: 0;
			margin-top: 0;
			padding: 5px 0;

			li{
				margin-right: 15px;
			}
		}
		&-item{
			border-bottom: 1px solid #f8f8f8;
			padding: 15px 0;
		}
		&-vcount {
			background: none repeat scroll 0 0 #ffffff;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 2px;
			color: #333333;
			display: block;
			float: left;
			font-size: 12px;
			font-weight: 600;
			height: 25px;
			line-height: 23px;
			margin-right: 15px;
			text-align: center;
			width: 50px;

			i{
				background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
				border-radius: 2px 0 0 2px;
				color: $color5;
				display: block;
				float: left;
				font-size: 12px;
				height: 25px;
				margin-right: 2px;
				width: 25px;
			}

			&.positive, &.answer-selected {
				background: lighten($color1, 5%);
				color: #fff;

				i{
					color: #fff;
				}
			}
			&.negative {
				background: lighten($color8, 5%);
				color: #fff;
			}
		}
		&-active {
			color: $color5;
			float: right;
			overflow: hidden;
			text-align: right;
			white-space: nowrap;
			width: 70px;
		}

		&-ccount{
			color: $color5;
			float: right;
			margin-right: 10px;
			text-align: center;
		}
		&-footer {
			color: $color5;
			padding: 10px 0;
			> a {
				border: 1px solid #eee;
				border-radius: 3px;
				padding: 2px 10px;
			}
		}
	}
}
