//
// widget styles
// --------------------------------------------------
#anspress .ap-widget-title {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 0;
}
#anspress .ap-user-widget{
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 5px;
	.ap-user-cover{
		display: block;
		height: 90px;
		margin-bottom: 0;
		width: 100%;
	}
	.ap-user-cover-img{
		background-position: center center;
		border-radius: 3px;
	}
	.ap-user-head .ap-user-avatar{
		margin-top: -30px;
	}
	.ap-user-head .ap-user-name {
		font-size: 16px;
		margin-top: 5px;
	}
	.ap-user-head {
		border-bottom: medium none;
		margin-bottom: 10px;
	}
	.ap-user-widget-links{
		padding: 0;
		list-style: none;
		margin: 0;
		li{
			display: block;
			padding: 0;
			margin:0;
		}
		a{
			border-top: 1px solid #f8f8f8;
			display: block;
			font-size: 13px;
			padding: 10px 15px;
			&:before{
				margin-right: 10px;
			}
			.counter {
				background: none repeat scroll 0 0 #ff3737;
				border-radius: 2px;
				color: #fff;
				font-size: 10px;
				margin-left: 5px;
				padding: 1px 2px;
				width: 13px;
				display: inline-block;
				text-align: center;
			}
		}
	}
}
.widget .ap-stats-widget, .ap-widget-pos .ap-stats-widget{
	padding: 0;
	margin:0;
	list-style: none;
	border: solid 1px #ddd;
	border-radius: 3px;

	li{
		border-bottom: 1px solid #eee;
		font-size: 14px;
		list-style: outside none none;
		margin: 0;
		padding: 15px;
		.stat-value{
			color: #888;
			float: right;
		}
		.stat-label{
			font-size: 12px;
			font-weight: 600;
		}
		.stat-label:before{
			color: #888;
			display: inline-block;
			width: 25px;
		}
		&:last-child{
			border-bottom: none;
		}
	}

}
.widget .ap-question-subscribers, .ap-widget-pos .ap-question-subscribers{
	&-inner{
		margin: -5px;
	}
	a{
		margin: 5px;
		display: inline-block;
		>img{
			margin: 0;
			display: block;
		}
	}
}
.ap-widget-pos{
	margin-bottom: 25px;

	.ap-rq-widget{
		.ap-rq-post {
			border-bottom: 1px solid #f7f7f7;
			color: #888;
			display: block;
			margin-bottom: 0;
			padding: 10px 0;

			a{
				margin-bottom: 5px;
				display: block;
			}
		}
	}

	.ap-questions-widget{
		.ap-question-item{
			border-bottom: 1px solid #f8f8f8;
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
		.ap-question-title{
			display: block;
			margin-bottom: 5px;
		}
	}

	.ap-followers-widget{
		border: 1px solid #eee;
		border-radius: 2px;
		padding: 10px;
		ul{
			margin: -5px -5px 0;
		}
		li{
			margin: 0;
			width: 20%;
			a{
				display: block;
				padding: 5px;
			}
		}

		img{
			box-shadow: none;
			display: block;
			max-width: 47px;
		}
	}
	.ap-widget-all-link{
		display: block;
		padding: 4px;
	}
}

.ap-uw{
	&-summary{
		border: 2px solid #eee;
		border-radius: 2px;
		margin-bottom: 15px;
		padding: 10px;
		text-align: center;
	}
	.avatar{
		border-radius: 50%;
		box-shadow: none;
		display: block;
		margin: 0 auto 10px;
	}
	&-name{
		display: block;
		font-weight: bold;
	}
	&-status{
		color: #888;
		font-size: 12px;
		margin-top: 5px;
		> span {
			display: inline-block;
			font-weight: bold;
			margin-bottom: 2px;
			padding: 0 4px;
			white-space: nowrap;
		}
	}
}