.wp-block-anspress-single-question {
	&-q {
		display: flex;
		width: 100%;
	}

	&-avatar {
		margin-right: 20px;
	}

	&-content {
		border: solid 1px;
		flex: 1;
	}

	&-metas {
		display: flex;
		border-bottom: solid 1px;
		padding: 10px 20px;
		font-size: 85%;

		>* {
			margin-right: 10px;
		}

		a {
			text-decoration: none;
		}
	}

	&-inner {
		margin: 10px 20px;
	}

	&-vote {
		>button {
			text-decoration: none;
			border: solid 1px;
			font-size: 13px;
			padding: 2px 5px;
		}


	}

	&-vcount {
		font-size: 14px;
		padding: 3px 10px;
	}

	&-footer {
		padding: 10px;
		border-top: solid 1px;
	}
}
