.anspress-apq-item {
	display: flex;
	width: 100%;
	margin-bottom: 20px;

	&-avatar {
		margin-right: 20px;
	}

	&-content {
		flex: 1;
	}

	&-qbody {
		border: solid 1px;
	}

	&-metas {
		display: flex;
		border-bottom: solid 1px;
		padding: 10px 20px;
		font-size: 85%;

		>* {
			margin-right: 10px;
		}

		a {
			text-decoration: none;
		}
	}

	&-inner {
		margin: 10px 20px;
	}

	&-vote {
		>button {
			text-decoration: none;
			border: solid 1px;
			font-size: 13px;
			padding: 2px 5px;
		}
	}

	&-vcount {
		font-size: 14px;
		padding: 3px 10px;
	}

	&-footer {
		padding: 10px;
		border-top: solid 1px;
	}

	@keyframes count-animation {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.2);
		}

		100% {
			transform: scale(1);
		}
	}

	.animate-count {
		animation: count-animation 0.5s ease-in-out;
	}
}

.anspress- {
	&answer-form {
		padding: 15px;

		textarea {
			width: 100%;
			height: 100px;
			box-sizing: border-box;
		}
	}

	&form {
		.quicktags-toolbar {
			display: flex;
			margin-bottom: 10px;

			input {
				padding: 3px 6px;
				margin-right: 5px;
				border: solid 1px;

				&:hover {
					background: #ddd;
				}
			}
		}
	}
}

// .anspress- {
// 	&apq-item {
// 		margin-bottom: 20px;
// 	}

// 	&answers-answer {
// 		margin-bottom: 20px;
// 	}
// }

// Import the style.css from common/comments
@import "../common/comments/style.scss";
