<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{email_title}</title>
	<style type="text/css">
	{style}
	</style>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
	<table class="body-wrap">
		<tr>
			<td></td>
			<td class="container" width="600">
				<div class="content">
					{email_body}
					<div class="footer">
						<table width="100%">
							<tr>
								<td class="aligncenter content-block">
									<p>&copy; {site_name}.</p>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>
</body>
</html>