//
// Buttons style
// --------------------------------------------------

.ap-btn{
    background: @blue-color;
    border-color: transparent transparent rgba(0,0,0,0.1);
    border-image: none;
    border-radius: 2px;
    border-style: none none solid;
    border-width: medium medium 2px;
    color: @white;
    padding: 10px 20px;
    text-decoration: none;

    &.ap-btn-blue{
        background: @blue-color;
        color: @white;
        &:hover{
            border-color: @blue-color;
        }
    }
    &.ap-btn-view-all {
        display: block;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
    }
    &:hover{
        text-decoration: none;
        border-color: transparent transparent @blue-color;
        color: @white;
    }
}

// voting button
.ap-vote{
    background-clip: padding-box;
    color: #428bca;
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
    position: relative;

    > *{
        float: left;
    }
    a{
    	border: 1px solid #d2e3f2;
        border-radius: 3px;
        color: #6198cb;
        display: block;
        padding: 2px 7px;
        text-decoration: none;
        &:focus{
            outline: none;
        }
    	&.disable{
			cursor: default;
            opacity: 0.3;
		}
    }
    .vote-up{

	}
	.vote-down{

	}	
    .net-vote-count{    	
        color: @light-color;
        display: block;
        font-size: 15px;
        padding: 4px 10px;
    }
    .ap-vote-fade {
        bottom: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.ap-radio-btn{
    background: none repeat scroll 0 0 #ddd;
    border: 2px solid #ddd;
    .border-radius(8px);
    display: block;
    width: 30px;
    height: 16px;
    position: relative;
    cursor: pointer;
   
    
    &:before{
        background: none repeat scroll 0 0 #fff;
        .border-radius(50%);
        content: "";
        display: block;
        height: 12px;
        width: 12px;
        position: absolute;
        left: 0;
    }
    &:focus{
        outline: none;
    }
    &.active{
        background: @main-color;
        border-color: @main-color;
        &:before{
            right: 0;
            left: auto;
        }
    }
        
}
.ap-subscribe{
    text-align:center;
    .ap-subscribe-label{
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 12px;
    }
    .ap-btn{
        margin: 0 auto;
        display: block;
    }
    .ap-btn.active{
        background: #ddd;
    }

}