//
// Buttons style
// --------------------------------------------------

#anspress{
  .ap-dropdown{
    position: relative;
  }
  .ap-dropdown-toggle {
      padding: .5em 1em;
      background: #777;
      border-radius: .2em .2em 0 0;
  }
  .ap-dropdown-menu {
    display:none;
    position: absolute;
    top: 100%;
    margin-top: .5em;
    background: #777;
    min-width: 12em;
    padding: 0;
    border-radius: 0 0 .2em .2em;
    li {
        list-style-type: none;
        a {
            text-decoration: none;
            padding: .5em 1em;
            display: block;
        }
    }
  }
}