//
// Question page style
// --------------------------------------------------

.ap-content{
	&.question{
		.ap-q-head{
		    border-bottom: 1px solid #eee;
		    margin-bottom: 20px;
		}
		.ap-question-cells {
		    margin-top: 10px;
		    padding-bottom: 15px;

		    .ap-question-metas > .ap-avatar{
		    	margin: 0;
		    }
		}
	}

	.ap-favorite{
		float: right;
		a{
		    border-radius: 50%;
		    display: block;
		    font-size: 20px;
		    height: 50px;
		    line-height: 45px;
		    text-align: center;
		    width: 50px;
		    
		    i{
			    font-size: 15px;
    			margin-right: -5px;
			}
		}
		span{
			display: none;
		}

	}
	
	.ap-user-meta{
		color: @light-color;

	    .ap-user-meta-display_name{
		    font-size: 14px;
		    font-weight: @bold;
		    margin-bottom: 5px;
		}

		a{
			color: @default-color;
		}
	}
	.ap-question-metas, .ap-answer-metas{
		margin-bottom: 15px;
		li{
			color:@light-color;
			margin: 0 5px 0 0;
			i{
				font-style: normal;
			}

			&:before {
			    background: #dadada;
			    .border-radius(@default-border-radius);
			    content: "";
			    display: block;
			    float: left;
			    height: 3px;
			    margin-right: 6px;
			    margin-top: 7px;
			    padding: 0;
			    width: 3px;
			}
			&:first-child:before{
				display: none;
			}
		}
	}
	.entry-title{
	    font-size: 26px;
	    line-height: 1.6;
	    margin-bottom: 5px;
	}
	.ap-post-content{
	    line-height: @line-height-post-content;

	    p{
	    	margin-bottom:10px;

	    	&:last-child{
	    		margin-bottom: 0;
	    	}
	    }
	}
	.ap-question-actions-history{
		margin-bottom:20px;
	}
	
	.ap-posted-in {
	    margin-bottom: -20px;
	    text-transform: uppercase;
	}

	.ap-post-tags {
		margin-bottom:10px;
		li a{
		    border: 2px solid #eee;
		    .border-radius(14px);
		    color: #888;
		    display: block;
		    font-size: 11px;
		    padding: 1px 8px;
		    text-decoration: none;

		    .tax-count{
		    	font-style: normal;		    	
		    }

		    &:hover{
		    	border-color: @main-color;
		    	color: @default-color;
		    }
		}
	}
	.ap-user-actions {
	    margin-top: 10px;
	    li{
	    	margin-right: 15px;
	    }
	    a{
		    display: block;
    		text-decoration: none;

		    &:hover{
		    	color: @default-color;
		    }

	    	i{
			    display: inline-block;
			    font-size: 11px;
			    margin-right: 1px;
			    margin-top: 0;
	    	}
	    }
	}
}

#ap-best-answer {
    border-top: 1px solid #eee;
    margin-bottom: 30px;
    margin-top: 30px;
}

.ap-other-answers-tab {
	border-bottom: 1px solid @default-border-color;
	.ap-widget-title{
    	margin: 14px 30px 1px 0;
	}
	.ap-answers-tab {
	    float: right;
	    margin: 0;
	    border-bottom:none;
		li{
			float: right;
		}
	}
}
#ap-answers-c{
	padding-top: 25px;
}
#answers{
	.answer{
	    border-top: 1px solid @default-border-color;
	    margin-top: 30px;
	    padding-top: 25px;

	    &:first-child{
	    	padding-top: 0;
	    	border-top: none;
	    }
	}
}

.ap-btn-select {
	background: @main-color;
    .border-radius(@default-border-radius);
    color: @white;
    display: block;
    font-size: 11px;
    padding: 1px 4px;
    text-decoration: none;

    &:hover{
    	border-color: @main-color;
    	text-decoration: none;
    	color:@white !important;
    }
    &.selected{
    	background: @yellow-color;
    	color:@white ;
    	border-color: transparent;
    }
    &:before{
	    display: block;
	    float: left;
	    font-size: 11px;
	    margin-right: 3px;
	    margin-top: 1px;
    }
}
.ap-question-right {
	padding-left: 30px;
    > div{
		margin-bottom: 20px;
	}
	.ap-widget-title{
	    color: #303030;
	    display: block;
	    font-size: 16px;
	    line-height: 1.8;
	    margin-bottom: 5px;
	}
}
.ap-participants-list{
	display: block;
	margin: -5px;
	.ap-avatar{
	    display: block;
	    float: left;
	    margin-right: 0;
	    margin-bottom: 10px;
	    padding: 5px;
	}
}
.ap-single-vote {
    position: relative;
}
.comment-awaiting-moderation {
    background: @yellow-color;
    .border-radius(2px);
    color: #fff;
    display: table;
    font-size: 11px;
    padding: 1px 4px;
}