//
// Question lists style
// --------------------------------------------------

.anspress-container{

	.hentry {
		padding-top: 0;
		margin: 0;
		border: none;
		.box-shadow(none);
	}
	a{
		text-decoration: none;
	}
}
.anspress-container{
	.ap-pull-right{
		float: right !important;
	}

	.ap-pull-left{
		float: left !important;
	}

	.no-overflow{
		overflow: hidden;
	}

	.ap-ul-inline{
		list-style: none;
		padding: 0;
		margin: 0;
		display: block;

		> li{
			float: left;
			list-style: none outside none;
			margin: 0 5px 0 0;
			padding: 0;	    
			&:last-child{
				margin-right:0;
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
			}
		}
	}

	.ap-avatar{
		margin-right:15px;
		img{
			.border-radius(@avatar-border-radius);
		}
	}

	.ap-initially-hidden{
		display: none;
	}
	.ap-tab{
		border-bottom: solid 2px @default-border-color;
		margin-bottom: 10px;

		li{
			&.active a{
				background: @white;
				border-color: @default-border-color @default-border-color transparent;
				border-style: solid solid none;
				border-width: 1px 1px medium;
				margin-bottom: -2px;
				padding-bottom: 12px;
				padding-top: 8px;
				.border-radius(3px 3px 0 0);
				color: @default-color;
			}

			&:first-child{
				margin-left:5px;
			}

			a{
				display: block;
				padding: 10px 15px;
				text-decoration: none;
				color:@light-color;
				font-weight: @bold;

				&:hover{
					background: @default-border-color;
				}
			}
		}
	}

	.ap-widget-title {
		color: @light-color;
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 15px;
		line-height: 1.2;
	}

	.block{
		display: block;
	}

	.ap-pagination{
		display: block;
		margin: 20px 0;
		span, a{
			border: 1px solid @default-border-color;
			display: block;
			float: left;
			margin-right: 5px;
			padding: 5px 14px;
			text-decoration: none;
			.border-radius(@default-border-radius);
		}
		span{
			background: @default-border-color;
		}
	}

	.ap-notice{
		display: block;
	}

	.border-top{
		border-top: solid 1px @default-border-color;
	}
	.margin-top-20{
		margin-top: 20px;
	}

	

	.private-question-label{
		background: none repeat scroll 0 0 #8F8F8F;
		.border-radius(2px);
		color: @white;
		display: table;
		font-size: 12px;
		margin-bottom: 10px;
		padding: 2px 6px;
	}

	.ap-no-permission-to-view {
		background: lighten(@blue-color, 52%);
		display: block;
		margin-top: 20px;
		padding: 15px;
		text-align: center;
	}
	.ap-please-login {
		background: none repeat scroll 0 0 #e0fbff;
		border-radius: 3px;
		margin-bottom: 20px;
		padding: 15px;
		text-align: center;
	}
	.ap-questions-tab{
		border-bottom: solid 1px #ddd;
		> li {
			margin-right: 10px;

			&.active a{
				color: @default-color;
				border-color: #ddd #ddd #fff;
				border-image: none;
				border-style: solid;
				border-width: 1px;
				color: #595959;
				margin-bottom: -1px;
			}

			a{
				color: @link-color;
				display: block;
				font-weight: 600;
				padding: 5px 15px;
				border-radius: 3px 3px 0 0;
			}
		}
	}

	.ap-notice {
		background: none repeat scroll 0 0 #eee;
		border-radius: 2px;
		display: block;
		margin-top: 10px;
		padding: 12px;

		&.black{
			background: #777;
			color: #fff;
		}
		&.yellow{
			background: @yellow-color;
			color: #fff;
		}
		&.red{
			background: @error-color;
			color: #fff;
		}
		&.blue{
			background: @blue-color;
			color: #fff;
			a{
				color: #fff;
			}
		}
		i{
			margin-right: 15px;
		}
	}
	.ap-pending-notice {
		background: @yellow-color;
		border-radius: 2px;
		margin: 0 15px 10px;
		padding: 20px;
		text-align: center;
	}
	.ap-text-label{
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 12px;
	}
	.ap-view-count-0{
		display: none;
	}
	.ap-cradit {
	    color: #aaa;
	    font-size: 12px;
	    margin-top: 20px;
	}
}
.ap-loading-icon{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.4);
    display: block;
    height: 16px;
    position: absolute;
    text-align: center;
    width: 16px;
    z-index: 99;

	&.fade-bg{
		background: rgba(255, 255, 255, 0.8)
	}
}
.ap-loading-icon>i {
    font-size: 16px;
    height: 16px;
    left: 50%;
    line-height: 16px;
    margin-left: -10px;
    margin-top: -10px;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 16px;
	.animation(spin 1s linear infinite);
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.g-recaptcha {
    margin-bottom: 15px;
}