//
// Question lists style
// --------------------------------------------------

.anspress-container{
	color: @default-color;
}
.ap-pull-right{
	float: right !important;
}

.ap-pull-left{
	float: left !important;
}

.no-overflow{
	overflow: hidden;
}

.ap-ul-inline{
	list-style: none;
	padding: 0;
	margin: 0;

	li{
		float: left;
	    list-style: none outside none;
	    margin: 0 15px 0 0;
	    padding: 0;

	    &:last-child{
	    	margin-right:0;
	    }
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}
}

.anspress-container{
	font-family: @font-family;
}

.ap-avatar{
	margin-right:15px;
	img{
		.border-radius(@avatar-border-radius);
	}
}

.ap-initially-hidden{
	display: none;
}
.ap-tab{
	border-bottom: solid 2px @default-border-color;
	margin-bottom: 10px;

	li{
		&.active a{
			background: @white;
		    border-color: @default-border-color @default-border-color transparent;
		    border-style: solid solid none;
		    border-width: 2px 2px medium;
		    margin-bottom: -2px;
		    padding-bottom: 12px;
		    padding-top: 8px;
		    .border-radius(3px 3px 0 0);
    	}

    	&:first-child{
    		margin-left:5px;
    	}

		a{
		    display: block;
		    padding: 10px 15px;
		    text-decoration: none;
		    color:@light-color;
		    font-weight: @bold;

		    &:hover{
		    	background: @default-border-color;
		    }
		}
	}
}

.ap-widget-title {
    font-size: 22px;
    margin-bottom: 20px;
}

.block{
	display: block;
}

.ap-pagination{
	display: block;
	margin: 20px 0;
	span, a{
	    border: 1px solid @default-border-color;
	    display: block;
	    float: left;
	    margin-right: 5px;
	    padding: 5px 14px;
	    text-decoration: none;
	    .border-radius(@default-border-radius);
	}
	span{
		background: @default-border-color;
	}
}

.ap-notice{
	display: block;
}