//
// Tooltip styles
// --------------------------------------------------

.tooltipster-default.ap-tip-style{
	padding: 5px;	
	background: @tooltip-bg;
	.tooltipster-content{
		font-size: @default-font-size;
		a{
			font-weight: @bold;
			text-decoration: none;
			color: @white;
		}
	}	
}