//
// Tooltip styles
// --------------------------------------------------

.tooltipster-default.ap-tip-style{
	background: @tooltip-bg;
	font-size: 11px;
	font-family: arial, helvetica, sans-serif;
	.tooltipster-content{
		font-size: 13px;
		a{
			font-weight: @bold;
			text-decoration: none;
			color: @white;
		}
	}
	&.tags-list{
		a{
		    display: block;
		    font-weight: normal;
		    padding: 4px 5px;
		    .border-radius(2px);

		    &:hover{
		    	background: @blue-color;
		    	color: @white;
		    }
		}
	}	
}