//
// widget styles
// --------------------------------------------------
.anspress-container{
	.ap-widget-pos {
	    margin-bottom: 25px;
	}
	.ap-stats-widget{
		padding: 0;
		margin:0;
		list-style: none;

		li{
		    color: #888;
		    padding: 5px 0;
		    span{
			    float: right;
			    font-weight: bold;
		    }
		}

	}
	.ap-rq-widget{
		.ap-rq-post {
		    border-bottom: 1px solid #f7f7f7;
		    color: #888;
		    display: block;
		    margin-bottom: 0;
		    padding: 10px 0;

		    a{
		    	margin-bottom: 5px;
		    	display: block;
		    }
		}
	}
}