<div class="ap-comments">
	{{if comments === null }}
		<div class="ap-comment-noitems">There aren't any comment yet. Be the first to add a comment.</div>
	{{fi}}

	{{foreach comment in comments}}		
		<div id="comment-{{comment.id}}" {{comment.class|raw}}>
			<div class="ap-avatar ap-pull-left">
				{{comment.avatar|raw}}
			</div><!-- close .ap-avatar -->
			<div class="ap-comment-content no-overflow">
				<div class="ap-comment-header">
					<a href="{{comment.user_link}}" class="ap-comment-author">{{comment.user_name}}</a>
					<a href="#li-comment-{{comment.id}}" class="ap-comment-time"><time datetime="{{comment.iso_date}}">{{comment.time}}</time></a>
					{{foreach act in comment.actions}}
						<span class="ap-comment-action">{{act|raw}}</span>
					{{end}}
				</div><!-- close .ap-comment-header -->
				<div class="ap-comment-texts">
					{{comment.content}}
				</div>
				
				{{if comment.approved === 0}}
					<p class="comment-awaiting-moderation">{{comment.comment_mod_msg}}</p>
				{{fi}}
			</div><!-- close .ap-comment-content -->
		</div><!-- close #comment-* -->
	{{end}}

	{{if load_form_button}}
		<a href="#" class="ap-comment-formload" data-action="loadCommentForm" data-key="{{form.key}}">Add a comment</a>
	{{fi}}
</div>
