<div class="ap-dropdown-menu" data-multiple="{{multiple}}" data-key="{{key}}">
	<div class="ap-filter-head">{{title}}</div>
	{{if search}}
		<div class="ap-filter-swarp">
			<input type="text" id="{{key}}_search" class="ap-filter-search ap-form-input" placeholder="{{placeholder}}" value="{{searchQuery}}" autofocus />
		</div>
	{{fi}}	
	<ul>
	{{if items}}
		{{foreach item in items}}
			<li{{if item.active}} class="active"{{fi}}>
				<span class="apicon-check"></span>
				<a data-value="{{item.key}}" href="#">
					{{if item.color !== null}}<span class="ap-filter-color" style="background:{{item.color}};"></span>{{fi}}
					{{item.title}}
				</a>
			</li>
		{{end}}
	{{else}}
		<li>
			<a href="#">
				Nothing found
			</a>
		</li>
	{{fi}}
	</ul>	
	{{foreach item in items}}
		{{if item.active}}
			<input value="{{item.key}}" type="hidden" name="ap_filter[{{key}}]{{if multiple}}[]{{fi}}" />
		{{fi}}
	{{end}}
</div>
