.anspress-comments {
	font-size: small;
	margin-top: 15px;
	position: relative;

	&-item {
		display: flex;
		padding-bottom: 15px;
	}

	&-avatar {
		display: block;
		background: #aaa;
		margin-right: 10px;
		margin-top: 5px;
	}

	&-inner {
		flex: 1;
	}

	&-meta {
		font-weight: bold;
		margin-bottom: 5px;
	}

	&-actions {
		margin-top: 5px;

		a {
			text-decoration: none;
			margin-right: 5px;
			font-weight: bold;
		}
	}

	&-form {
		background: #eee;
		padding: 10px;
		margin-top: 10px;

		textarea {
			width: 100%;
			height: 100px;
			margin-bottom: 10px;
			box-sizing: border-box;
			padding: 10px;
		}

		&-buttons {
			display: flex;
			justify-content: flex-end;
		}

		&-submit {
			margin-left: 10px;
		}
	}

	&-line {
		border-left: solid 2px #eee;
		height: 100%;
		position: absolute;
		left: 15px;
		z-index: -1;
		top: -15px;
	}

	&-footer {
		margin-left: 40px;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.fade-in {
		animation: fadeIn 1s ease-in-out;
	}

	&-add-comment-button {
		margin-top: 15px;
	}
}

.anspress-comment {
	&-form {
		border: solid 1px;
		background: #fff;
		padding: 10px;
	}
}
